<configuration scan="true"  debug="true" scanPeriod="10" > 
   
    <insertFromJNDI env-entry-name="java:comp/env/APPLICATION_ID" as="applicationID" /> 
    <insertFromJNDI env-entry-name="java:comp/env/CONTEXT_NAME" as="contextName" /> 
      
    <property name="applicationName"  value="${applicationID:-default}.${contextName:-default}" />   
    <property name="remoteHost"  value="%X{req.remoteHost:-unknown}" /> 
    
    <property name="log.pattern.console" value="%n%-5level %logger{36}.%method \\(%file:%line\\) - %msg"/>
    <property name="log.pattern.consoleError" value="%n%-5level %logger{36}.%method \\(%file:%line\\) - %msg%n %ex{full}"/>
    <property name="log.pattern.file" value="%n%d{MM/dd HH:mm:ss} ${remoteHost} %-5level %logger{36}.%method \\(%file:%line\\) - %msg"/>
    <property name="log.history" value="7"/>
    <property name="log.folder" value="/OmegaPlus/logs/"/>
    <property name="log.file" value="${log.folder}/${applicationName}"/>
    <property name="log.level" value="DEBUG"/>
     
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<target>System.out</target>
    	<filter class="foren.framework.logging.logback.StdOutFilter" />
        <encoder>
            <pattern>${log.pattern.console}</pattern>
        </encoder>
    </appender>
    <appender name="STDERROR" class="ch.qos.logback.core.ConsoleAppender">
    	<target>System.err</target>
    	<filter class="foren.framework.logging.logback.ErrOutFilter" />
        <encoder>
            <pattern>${log.pattern.consoleError}</pattern>
        </encoder>
    </appender>       
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}/omegaplus.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}/omegaplus.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern.file}</pattern>
        </encoder>
    </appender>


    <!-- log SQL with timing information, post execution -->
    <logger name="jdbc.sqltiming" level="ERROR"/>
    <logger name="java.sql" level="${log.level}"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <logger name="java.sql.ResultSet" level="ERROR"/>
    
    <logger name="ch.ralscha" level="${log.level}"/>
    <logger name="foren" level="${log.level}"/>
    <logger name="test" level="DEBUG"/>
    <logger name="api" level="DEBUG"/>
    
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="ERROR"/>
    <logger name="org.springframework.web.servlet.handler" level="ERROR"/>
    
    
    <logger name="MYBATIS" level="${log.level}" />
    <logger name="foren.framework.mybatis.MybatisLogInterceptor" level="${log.level}" />
    <logger name="Xorg.mybatis.spring.SqlSessionUtils" level="${log.level}" />
    
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERROR" />
        <appender-ref ref="FILE" />
    </root>

</configuration>