<bryntum-demo-header
    link = "../../../../../#example-frameworks-angular-tasks"
    title = "Angular Tasks demo"
></bryntum-demo-header>

<bryntum-scheduler
    #scheduler
    [barMargin] = "schedulerConfig.barMargin"
    [cellEditFeature] = "schedulerConfig.cellEditFeature"
    [columns] = "schedulerConfig.columns"
    [crudManager] = "schedulerConfig.crudManager"
    [endDate] = "schedulerConfig.endDate"
    [eventColor] = "schedulerConfig.eventColor"
    [eventDragFeature] = "schedulerConfig.eventDragFeature"
    [eventEditFeature] = "schedulerConfig.eventEditFeature"
    [eventRenderer] = "schedulerConfig.eventRenderer"
    [eventResizeFeature] = "schedulerConfig.eventResizeFeature"
    [eventStyle] = "schedulerConfig.eventStyle"
    [nonWorkingTimeFeature] = "schedulerConfig.nonWorkingTimeFeature"
    [rowHeight] = "schedulerConfig.rowHeight"
    [startDate] = "schedulerConfig.startDate"
    [treeFeature] = "schedulerConfig.treeFeature"
    [viewPreset] = "schedulerConfig.viewPreset"
    (onCatchAll) = "onCatchAll($event)"
    (onCellDblClick) = "onCellDblClick($event)"
></bryntum-scheduler>
