@CHARSET "UTF-8";

/* By SangJoon Kim */
label.tlab_validate_required span    {padding-right:15px; background:url(/images/co/required.gif) 0 -24px no-repeat ; background-position: right; }
input[type=text].uppercase {text-transform:uppercase;}

/* paging area
============================================================ */
.pagingArea{overflow:hidden;}
.pagingArea .totalCount{float:left;margin-top:3px;font-size:0.917em;}
.pagingArea .totalCount strong{color:#FF9900;}
.pagingArea .paging{text-align:center;margin-left:70px;}/* margin-left : selectbox width */
.pagingArea .paging a{margin:0 3px;color:#000;}
.pagingArea .paging .num a{padding:0 3px;margin:0 1px;font-size:0.917em;}
.pagingArea .paging .num strong{margin:0 3px;color:#FF9900;font-size:1.167em;}
.pagingArea .paging *{vertical-align:middle;}
.pagingArea:after{clear:both;display:block;content:"";}