@CHARSET "UTF-8";

/* HTML */
html {overflow: auto;}

/* BODY */
body {margin: 0;padding: 0;font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-size: 11px;}

/* HEADER(block) */
h1 {margin: 0;padding: 0;font-size: 13px;}
h2 {margin: 0;padding: 0;font-size: 12px;}
h3 {margin: 0;padding: 0;font-size: 12px;}
h4 {margin: 0;padding: 0;font-size: 12px;}
h5 {margin: 0;padding: 0;font-size: 12px;}
h6 {margin: 0;padding: 0;font-size: 12px;}

/* LIST */
ul {margin: 0;padding: 0;list-style: none;}
ol {margin: 0;padding: 0;}
li {margin: 0;padding: 0;}

/* DIVISION(block) */
div {margin: 0;padding: 0;}

/* PARAGRAPH(block) */
p {margin: 0;padding: 0;}
 
/* SPAN(inline) */
span {margin: 0;padding: 0;}

/* ANCHOR(inline) */
a {margin: 0;padding: 0;}
a:link {text-decoration: none;outline: none;color: #000;}
a:hover {text-decoration: underline;}
a:visited {text-decoration: none;outline: none;color: #000;}
a:active {text-decoration: none;outline: none;}

/* IMAGE(inline) */
img {border: 0 none;margin: 0;padding: 0;vertical-align: middle;}

/* TABLE */
table {margin: 0;padding: 0;border-spacing: 0;border-collapse: collapse;}
th {margin: 0;padding: 0;}
td {margin: 0;padding: 0;}

/* IFRAME */
iframe {border: 0 none;background-color: transparent;}

/* FORM */
form {margin: 0;padding: 0;}
fieldset {margin: 0;padding: 0;}
legend {padding:4px; margin:0; font-weight: bold;font-size: 12px;color: #000;}
label {margin: 0;padding: 0;vertical-align: middle;}
input {margin: 0;padding: 0;vertical-align: middle;}
button {margin: 0;padding: 0;vertical-align: middle;cursor: pointer;}
select {margin: 0;padding: 0;vertical-align: middle;font-family: inherit;font-size: 11px;border: 1px solid #aeaeae;}
select:hover {}
select:active {}
option {margin: 0;padding: 0;font-family: inherit;font-size: 11px;}
textarea {vertical-align: middle;}
textarea:hover {}
textarea:focus {}

/* TEXT REQURIED */
em {color: red;}

/* [CLASS] */ /* FORM */
input.text {border: 1px solid #aeaeae;padding: 2px 3px;	font-size: 11px;}
input.text:hover {}
input.text:focus {}
textarea.textarea {border: 1px solid #aeaeae;padding: 2px 3px;font-size: 11px;width: 90%;height: 40px;}
input.password {border: 1px solid #aeaeae;padding: 2px 3px;}
input.password:hover {}
input.password:focus {}
input.file {background-color: #fff;border: 1px solid #aeaeae;padding: 2px 3px;font-size: 11px;}
input.file:hover {}
input.file:focus {}
input.radio {border: 0 none;margin-right: 4px;}
input.checkbox {border: 0 none;margin-right: 4px;}
img.image {border: 0 none;}
button.button {font-size: 11px;padding: 3px;background-color:#81B0D5;border : 1px solid #4A689B;color : #FFFFFF;cursor: pointer;margin: 0 2px;}
button.submit {}
button.reset {}
select.select {}
input.datepicker {font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; border: 1px solid #aeaeae;font-size: 11px;text-align: center;padding: 2px 3px;width: 80px;}

/* COMMON FUNCTION CLASS */
.disabled {background-color: #eee;}
.text_align_left {text-align: left;}
.text_align_center {text-align: center !important;}
.text_align_right {text-align: right;}
 
.disabled, .disabled:hover {background-color: #eee; color: #000;}
 
.display_none {display: none;}
.display_block {display: block;}
 
.cursor {cursor: pointer;}

/* LAYOUT */
.body_wrapper {margin: 10px 22px 10px 10px;}

iframe {overflow:hidden; position:absolute;left:0; top:0; width:100%;height:100%;}


/* 속성지우기 */
.clear{display:block;overflow:hidden;clear:both;float:none;height:0;width:100%;margin:0 !important;padding:0 !important;font-size:0 !important;line-height:0 !important;}
.clb{clear:both;}

/* display */
.balign_top{vertical-align:top;}
.balign_middle{vertical-align:middle;}
.balign_bottom{vertical-align:bottom;}
.fl{float:left;}
.fr{float:right;}
.pabsolute{position:absolute;}
.prelative{position:relative;}
.disabled{background-color:#eee; color: #000;}
.disabled:hover{background-color: #eee; color: #000;}
.talign_right{text-align:right;}
.talign_center{text-align:center;}
.talign_left{text-align:left;}
.disp_inline{display:inline;}
.no_bd{border:0;}
.show{display:block;}
.hide{display:none;}
#skip{display:none;}
.skip{display:none;}
.bg_pink{background:#ffe5dd;}
.bg_sky{background:#f0f4f8;}
.bd_t{border-top:1px solid #ccc;}


/* color */
.red {color:red;}
.orange {color:orange;}
.gray {color:#C8B560;}
.green {color:green;}