/**
    author : Slipknot
*/
@CHARSET "UTF-8";

body {background-color: #fff; overflow-x:hidden;}

/* PORTAL BODY WRAPPER */
#headerWrapper {height: 105px;}

/* TOP HORIZONTAL NAVIGATION */
#horizontalNavigatorWrapper {position:absolute; left:0; right:0;margin-top: 3px;}
#horizontalNavigator {margin: 0 auto; width: 987px;border-left: 1px solid #C5DBEC;}
#horizontalNavigator ul {height: 30px;}
#horizontalNavigator ul li {list-style: none outside none; float: left;font-size: 12px;}
#horizontalNavigator ul a {display: block; float: left;height: 16px;padding: 7px 20px;border-right:1px solid #79B7E7;}
#horizontalNavigator ul a:hover, #horizontalNavigator ul a.current {color: #1D5987;background-color: #D0E5F5;}

/* LEFT VERTICAL NAVIGATION */
#userDelegate {float: right;width: 150px;position: relative;}
#userDelegate .verticalNavigatorBody {border-bottom: 1px solid #a6C9e2; border-top: 1px solid #a6C9e2;padding: 1px 1px 1px 6px;}
#userDelegate .verticalNavigatorBody li {position: relative; padding: 4px 0;}
#userDelegate .verticalNavigatorBody span {position: absolute; background: transparent url("/images/co/workLayout/sub_navigator.png") no-repeat left center;width: 16px; height: 16px;margin-top: -8px;top: 50%;}
#userDelegate .verticalNavigatorBody a {display: block; padding-left: 18px;}
#userDelegate .verticalNavigatorBody a:hover {text-decoration: underline;}
#userDelegate .verticalNavigatorBody a.current {font-weight: bold;color: #2E6E9E;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:0 none; border-top: 1px solid #79b7e7;}
.ui-accordion .ui-accordion-header a {display:block; font-size:1em; padding:0em 0em 0em 2em;}

#mainImage {background: url("/images/co/portal/main_bg.jpg") no-repeat top center; height:227px;}

/* CONTENT WRAPPER */
#contentWrapper {margin: 10px auto; height: 190px; width: 1000px; display: table;padding-bottom: 10px;}

/* NOTICE */
#notice {padding: 5px; background-color: #fff;float: left; width: 490px;}
#todo   {padding: 5px; background-color: #fff;float: right;width: 490px;}

/* CONTENT LIST -TABLE */
.title_wrapper {height: 2em;}
.list_title {float:left; padding-left: 24px; background:transparent url("/images/co/portal/bullet.png") no-repeat left center;line-height: 1.5em; color: #2485c3;letter-spacing: 1px;}
.new_button {float:right;background:transparent url("/images/co/portal/new_button.gif") no-repeat left center;width: 59px;height: 12px;border: 0 none;margin: 4px;cursor: pointer;}
.more_button {float:right;background:transparent url("/images/co/portal/_more_button.gif") no-repeat left center;width: 35px;height: 12px;border: 0 none;margin: 4px;cursor: pointer;}

/* LIST PANEL - DIV */
#contentWrapper .list_panel {border: 0px solid #ccc;}
#contentWrapper .list_panel .panel {width: 100%; border-top: 1px solid #ccc;clear: both;border-bottom: 0px solid #ccc;}
#contentWrapper .list_panel .panel th {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #edf0f7; color: #000000;}
#contentWrapper .list_panel .panel td {border-right: 1px solid #ccc;padding: 4px;background-color: #fff;}
#contentWrapper .list_panel .panel tr:hover td, .list_panel .panel tr:hover a {color: #0066ff;background-color: #feeeb8;}
#contentWrapper .list_panel .panel .list_last {border-right: 0 none;}
#contentWrapper .list_panel .panel .odd_row td{background-color: #f0f4f8;}

/* FOOTER WRAPPER */    
#footerWrapper { position:absolute; width: 100%; bottom:0; border-bottom:3px solid #C5DBEC; border-top: 1px solid #ccc; height: 30px; background: url("/images/co/jqueryUI/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC; }

/* FOOTER */
#footer { width: 100%; }
#footer ul li {color: #1d5987; letter-spacing: 0; font-weight: bold; font-size: 11px; margin:8px; }
#footer .userinfo {float: left; width:500px; }
#footer .copyright {float: right; text-align:right; }
