@charset "utf-8";

/* By SangJoon Kim */
label.tlab_validate_required span    {padding-right:15px; background:url(images/required.gif) 0 -24px no-repeat ; background-position: right; }
div.tlab_validate_error  {color:#f00;}
input[readonly].text { background-color:  transparent; border:0; color:#000 !important; vertical-align: baseline; width: auto; margin:auto; text-align : left;} 
input[type=text].uppercase {text-transform:uppercase;}
input[readonly].datepicker { background-color: #ffffff; border:1;}

.body_wrapper .location{overflow:hidden;position:absolute;right:24px;top:15px;}
.body_wrapper .location li{float:left;padding-right:9px;margin-right:10px;background:url("../co/work/location-arrow.gif") no-repeat right center;}
.body_wrapper .location li a{color:#333;font-size:12px;}
.body_wrapper .location li.current{background:none;padding-right:0;margin-right:0;}
.body_wrapper .location:after{clear:both;display:block;content:"";}

.body_wrapper h1{font-size:1.2em;padding-bottom:8px;background:#fff url("../co/work/bg-con-grad.png") repeat-x left bottom;}
.body_wrapper h1 strong{background-color:#fff;background-repeat:no-repeat;background-position:9px 0.25em;padding-left:19px;}
.body_wrapper h2{font-size:1.167em;padding-left:8px;margin-top:25px;margin-bottom:10px;background:url("../co/work/blt-h2.png") no-repeat left 0.3em;}
.body_wrapper h2:first-child{margin-top:0;}

.search_area fieldset {border: 1px solid #ccc;padding: 4px;overflow: auto;}
/* paging area
============================================================ */
.pagingArea{overflow:hidden;}
.pagingArea .totalCount{float:left;margin-top:3px;font-size:0.917em;}
.pagingArea .totalCount strong{color:#FF9900;}
.pagingArea .paging{text-align:center;margin-left:70px;}/* margin-left : selectbox width */
.pagingArea .paging a{margin:0 3px;color:#000;}
.pagingArea .paging .num a{padding:0 3px;margin:0 1px;font-size:0.917em;}
.pagingArea .paging .num strong{margin:0 3px;color:#FF9900;font-size:1.167em;}
.pagingArea .paging *{vertical-align:middle;}
.pagingArea:after{clear:both;display:block;content:"";}

/* LEFT VERTICAL NAVIGATION */
#verticalNavigatorTitle {text-align: center;height: 16px;border-bottom: 1px solid #98c0f4;font-size: 12px;background-color: #f0f4f8;padding: 7px 0;}
#leftCloseButton {position:relative; float: right;background:url("../co/jqueryLayout/closed-toggler-left.gif") no-repeat scroll center center transparent;width: 15px;height: 15px;border: 0 none;cursor: pointer;margin-right: 3px;}
#verticalNavigatorWrapper {overflow: auto;position: absolute;bottom: 0;top: 31px;width: 100%;}
#verticalNavigatorWrapper .verticalNavigatorBody {border:0 none; border-bottom: 1px solid #a6C9e2; border-top: 1px solid #dfeffc;padding: 5px 4px 5px 15px;}
#verticalNavigatorWrapper .verticalNavigatorBody li {position: relative; padding: 4px 0;}
#verticalNavigatorWrapper .verticalNavigatorBody span {position: absolute; background: transparent url("./images/sub_navigator.png") no-repeat left center;width: 16px; height: 16px;margin-top: -8px;top: 50%;}
#verticalNavigatorWrapper .verticalNavigatorBody a {display: block; padding-left: 18px;}
#verticalNavigatorWrapper .verticalNavigatorBody a:hover {text-decoration: underline;}
#verticalNavigatorWrapper .verticalNavigatorBody a.current {font-weight: bold;color: #2E6E9E;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:0 none; border-top: 1px solid #79b7e7;}
 
 
 /* SEARCH AREA */
.search_area {width: 100%;}

/* SEARCH PANEL */
.search_panel {border: 1px solid #ccc;padding: 4px;overflow: auto;}

/* SEARCH TABLE -TABLE */
.search_panel .panel {width: 100%;border-spacing: 0;}
.search_panel .panel th {padding: 5px;text-align: left;font-weight: bold;color: #2e6e9e;}
.search_panel .panel td {padding: 5px;}


/* LIST AREA - DIV */
.list_area {width: 100%;}

/* LIST PANEL - DIV */
.list_panel {border: 1px solid #ccc;padding: 4px;overflow: auto;}

/* LIST TABLE -TABLE */
.list_panel .panel {width: 100%; border-top: 1px solid #ccc;}
.list_panel .panel  th {border-right: 1px solid #ccc !important;;border-bottom: 1px solid #ccc!important;;padding: 4px!important;;background-color: #829FC1 !important;color: #fff !important;}
.list_panel .panel .odd_row td {
	background:#f0f0f0;
}
.list_panel .panel td {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #fff;}
.list_panel .panel tr:hover td, .list_panel .panel tr:hover a {color: #0066ff;background-color: #feeeb8;  !important}
.list_panel .panel tr:hover td, .list_panel .panel tr:hover .stsTd a {background-color: #feeeb8; !important}
.list_panel .panel tr a {color: #0066ff;font-weight: bold;}
	
.list_panel th.list_first, .list_panel td.list_first {border-left: 0 none;}
.list_panel th.list_last, .list_panel td.list_last {border-right: 0 none;}

.list_panel .panel2 {width: 100%; border-top: 1px solid #ccc;}
.list_panel .panel2 th {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #829FC1;color: #fff;}
.list_panel .panel2 td {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;}

.search_panel .panel .odd_row th, .search_panel .panel .odd_row td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F0F4F8;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0;
}

.detail_panel .panel .odd_row th, .detail_panel .panel .odd_row td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F0F4F8;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0;
}

/* DETAIL AREA - DIV */
.detail_area {width: 100%;padding-bottom: 10px;}

/* DETAIL PANEL - DIV */
.detail_panel {border: 1px solid #ccc;padding: 4px;background-color: #fff;overflow: auto;}

/* DETAIL TABLE -TABLE */
.detail_panel .panel {width: 100%;border-spacing: 0;}
.detail_panel .panel th { padding: 5px;text-align: left;font-weight: bold;color: #2e6e9e;}
.detail_panel .panel td {padding: 5px;}
.detail_panel .panel tr a {color: #0066ff;font-weight: bold;}

/* JRGRID - DIV */
.jqgrid_panel {border: 1px solid #ccc; padding: 4px; overflow: hidden;}

/* BUTTON PANEL - DIV */
.button_panel {text-align: right;padding: 5px 0;width: 100%;}
.button_panel_center {text-align: center;padding: 5px 0;}

/* by Sujin Lee [Amend Type List used]*/
td.amend_check_img div   { padding-left:15px; background:url(images/icons_required.png) 0 4px no-repeat; width:10px; height:20px; display:block; margin:auto;}



input[type=checkbox].some_selected {
	opacity: 0.5;
	filter: alpha(opacity =           50);
}

.check_btn {
	display: inline-block;
	height:16px;
	position:relative;
	background: url("../../images/co/btn_check.png") no-repeat center;
    width:20px;
    cursor:pointer;
    top: 5px;
    margin-top: -5px;
}

.lookup_btn {
	display: inline-block;
    height:16px;
    position:relative;
    background: url("../../images/co/search2.gif") no-repeat center;
    width:20px;
    cursor:pointer;
    top: 5px;
    margin-top: -5px;
}

.newWinIcon{
	display: inline-block;
    position:relative;
    cursor:pointer;
    top: 5px;
    margin-top: -7px;
}
.helpTip{
    padding:10px;
    border: 1px #666666 dotted;
    background-color:#fff5ee; 
    font-size:12px;
    color:#000066;
}

.gridPODChngRow{
	color: #ff0000;
}