@CHARSET "UTF-8";

.filetree span.department {padding: 1px 0 1px 22px; display: block; }
.filetree span.department { background: url(./treeview/folder_user.png) 0 0 no-repeat; }
.filetree span.user {padding: 1px 0 1px 22px; display: block; }
.filetree span.user { background: url(./treeview/user.png) 0 0 no-repeat; }
