/**
    author : Slipknot
*/
@CHARSET "UTF-8";

/* BODY */
#body {width:100%; min-width: 968px;}

/* TOP HORIZONTAL NAVIGATION */
#horizontalNavigatorWrapper {margin-top: 4px;}
#horizontalNavigator {clear: both;height: 30px;position: relative;}
#horizontalNavigator ul {height: 30px;}
#horizontalNavigator ul li {list-style: none outside none; float: left;font-size: 12px;}
#horizontalNavigator ul a {display: block; float: left;height: 16px;padding: 7px 20px;border-right:1px solid #79B7E7;}
#horizontalNavigator ul a:hover, #horizontalNavigator ul a.current {color: #1D5987;background-color: #D0E5F5;}
.max_button {float: right;background:transparent url("/images/co/work/arrow_out.png") no-repeat left center;width: 16px;height: 16px;border: 0 none;cursor: pointer;margin-right: -12px;}
.min_button {float: right;background:transparent url("/images/co/work/arrow_in.png") no-repeat left center;width: 16px;height: 16px;border: 0 none;cursor: pointer;margin-right: -12px;}
.bottom {margin-top: 10px;margin-bottom: 10px;}

/* LEFT VERTICAL NAVIGATION */
#verticalNavigatorTitle {text-align: center;height: 16px;border-bottom: 1px solid #98c0f4;font-size: 12px;background-color: #f0f4f8;padding: 7px 0;}
#leftCloseButton {position:relative; float: right;background:url("/images/co/jqueryLayout/closed-toggler-left.gif") no-repeat scroll center center transparent;width: 15px;height: 15px;border: 0 none;cursor: pointer;margin-right: 3px;}
#verticalNavigatorWrapper {overflow: auto;position: absolute;bottom: 0;top: 31px;width: 100%;}
#verticalNavigatorWrapper .verticalNavigatorBody {border:0 none; border-bottom: 1px solid #a6C9e2; border-top: 1px solid #dfeffc;padding: 5px 4px 5px 15px;}
#verticalNavigatorWrapper .verticalNavigatorBody li {position: relative; padding: 4px 0;}
#verticalNavigatorWrapper .verticalNavigatorBody span {position: absolute; background: transparent url("/images/co/workLayout/sub_navigator.png") no-repeat left center;width: 16px; height: 16px;margin-top: -8px;top: 50%;}
#verticalNavigatorWrapper .verticalNavigatorBody a {display: block; padding-left: 18px;}
#verticalNavigatorWrapper .verticalNavigatorBody a:hover {text-decoration: underline;}
#verticalNavigatorWrapper .verticalNavigatorBody a.current {font-weight: bold;color: #2E6E9E;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:0 none; border-top: 1px solid #79b7e7;}
 
/* RIGHT QUICK */
#quick {overflow-x: hidden;}
#quickHeader {text-align: center;height: 16px;border-bottom: 1px solid #98c0f4;font-size: 12px;background-color: #f0f4f8;padding: 7px 0;}
#rightCloseButton {float: left;background:url("/images/co/jqueryLayout/closed-toggler-right.gif") no-repeat scroll center center transparent;width: 15px;height: 15px;border: 0 none;cursor: pointer;margin-left: 3px;}

#quickWrapper {overflow: auto;position: absolute;bottom: 0;top: 31px;width: 100%;overflow-x: hidden; }
#quick li {margin: 0px;border: 0px solid #000000;width: 71px; height: 71px;}
.quick_01 {background: transparent url("/images/co/workLayout/quick_01.gif") no-repeat left center;width: 71px; height: 71px;display: block;}
.quick_02 {background: transparent url("/images/co/workLayout/quick_02.gif") no-repeat left center;width: 71px; height: 71px;display: block;}
.quick_03 {background: transparent url("/images/co/workLayout/quick_03.gif") no-repeat left center;width: 71px; height: 71px;display: block;}
.quick_04 {background: transparent url("/images/co/workLayout/quick_04.gif") no-repeat left center;width: 71px; height: 71px;display: block;}
	
/* FOOTER */
#footer {height:25px; width:100%; background: url("/images/co/jqueryUI/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;color: #1d5987;}
#footer ul li {letter-spacing: 0; font-weight: bold; font-size: 11px; margin:4px; }
#footer .userinfo {float: left; width:500px; }
#footer .copyright {float: right; text-align:right; }

/* DEFAULT WORK BACKGROUND */
#defaultBackground {background: transparent url("/images/co/workLayout/default_background.jpg") no-repeat left center;width: 474px; height: 94px;position: absolute;left: 50%; top: 50%;margin: -47px 0 0 -237px;}
