@CHARSET "utf-8";

/* [BREAD CRUMB] */
.bread_crumb {font-weight:bold; padding:2px 4px 2px 24px;background:transparent url("/images/co/work/home.png") no-repeat left center;font-size: 12px;line-height: 1.5em;}

/* [TITLE] */
/* MAIN TITLE - H1 */
.main_title {padding-left: 24px; background:transparent url("/images/co/work/main_title.gif") no-repeat left center;line-height: 1.5em; color: #2485c3;letter-spacing: 1px;clear: both;}

/* SECTION TITLE - H2 */
.section_title {padding-left: 20px; background:transparent url("/images/co/work/section_title.png") no-repeat left center;line-height: 2em;letter-spacing: 0px;clear: both;color: #E17009;}

/* SUBSECTION TITLE - H3 */
.subsection_title {padding-left: 20px; background:transparent url("/images/co/work/section_title.png") no-repeat left center;line-height: 2em;letter-spacing: 0px;clear: both;}

/* Page Navigation */
.body_wrapper .location{overflow:hidden;position:absolute;right:24px;top:15px;}
.body_wrapper .location li{float:left;padding-right:9px;margin-right:10px;background:url("/images/co/work/location-arrow.gif") no-repeat right center;}
.body_wrapper .location li a{color:#333;font-size:12px;}
.body_wrapper .location li.current{background:none;padding-right:0;margin-right:0;}
.body_wrapper .location:after{clear:both;display:block;content:"";}

/* SEARCH AREA */
.search_area {width: 100%;}

/* SEARCH PANEL */
.search_panel {border: 1px solid #ccc;padding: 4px;overflow: auto;}

/* SEARCH TABLE -TABLE */
.search_panel .panel {width: 100%;border-spacing: 0;}
.search_panel .panel th {width:20%; padding: 5px;text-align: left;font-weight: bold;color: #2e6e9e;}
.search_panel .panel td {padding: 5px;}

/* LIST AREA - DIV */
.list_area {width: 100%;}

/* LIST PANEL - DIV */
.list_panel {border: 1px solid #ccc;padding: 4px;overflow: auto;}

/* LIST TABLE -TABLE */
.list_panel .panel {width: 100%; border-top: 1px solid #ccc;}
.list_panel .panel th {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #829FC1;color: #fff;}
.list_panel .panel td {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #fff;}
.list_panel .panel tr:hover td, .list_panel .panel tr:hover a {color: #0066ff;background-color: #feeeb8;}
.list_panel .panel tr a {color: #0066ff;font-weight: bold;}
	
.list_panel th.list_first, .list_panel td.list_first {border-left: 0 none;}
.list_panel th.list_last, .list_panel td.list_last {border-right: 0 none;}

/* PAGING - DIV */
div.paging {padding: 5px;}

/* PAGING TABLE - TABLE */
table.paging_panel {width: 100%;}
table.paging_panel ul {display: block;text-align: center;}
table.paging_panel ul li {display: inline;vertical-align: middle;margin: 0 2px;}
table.paging_panel td#page_number {}
table.paging_panel td#page_navigator {min-width: 167px;}
table.paging_panel td#page_record_number {}
table.paging_panel ul li a.page_index{}
table.paging_panel ul li a.current {font-weight: bold;color: red;}

/* DETAIL AREA - DIV */
.detail_area {width: 100%;padding-bottom: 10px;}

/* DETAIL PANEL - DIV */
.detail_panel {border: 1px solid #ccc;padding: 4px;background-color: #fff;overflow: auto;}

/* DETAIL TABLE -TABLE */
.detail_panel .panel {width: 100%;border-spacing: 0;}
.detail_panel .panel th {width:20%; padding: 5px;text-align: left;font-weight: bold;color: #2e6e9e;}
.detail_panel .panel td {padding: 5px;}
.detail_panel .panel tr a {color: #0066ff;font-weight: bold;}
/* SUB LIST PANEL - DIV */
.sub_list_panel {border: 1px solid #ccc;padding: 4px;}

/* SUB LIST TABLE -TABLE */
.sub_list_panel .panel {width: 100%; border-top: 1px solid #ccc;}
.sub_list_panel .panel th {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #829FC1;color: #fff;text-align: center;font-weight: bold;}
.sub_list_panel .panel td {border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 4px;background-color: #fff;}
.sub_list_panel .panel tr a {color: #0066ff;font-weight: bold;}

.sub_list_panel th.list_first, .sub_list_panel td.list_first {border-left: 0 none;}
.sub_list_panel th.list_last, .sub_list_panel td.list_last {border-right: 0 none;}

/* EVEN ROW */
.even_row {}

/* ODD ROW */
.list_panel .panel .odd_row td{background-color: #f0f4f8;}
.search_panel .panel .odd_row th, .search_panel .panel .odd_row td{background-color: #f0f4f8;border: solid #ccc;border-width: 1px 0 1px 0;}
.detail_panel .panel .odd_row th, .detail_panel .panel .odd_row td{background-color: #f0f4f8;border: solid #ccc;border-width: 1px 0 1px 0;}
.sub_list_panel .panel .odd_row td {background-color: #f0f4f8;border:1px solid #ccc;}

/* ROW SELECTED */
.list_panel .panel .row_selected td {background-color: #E17009;}

/* EXCEL ICON AREA */
.excel_area {text-align: right;margin-bottom: 4px;}

/* COMPARE TEXT */
.compare_text {color: #E17009;}

/* COMPARE TD */
.compare_td {}

/* BUTTON PANEL - DIV */
.button_panel {text-align: right;padding: 5px 0;width: 100%;}
.button_panel_center {text-align: center;padding: 5px 0;}

/* SPACE */
.height_space {height: 8px;clear: both;}

/* ICON BUTTON */
.search_button {background: transparent url("/images/co/work/search_button.gif") no-repeat center center;width: 20px; height: 18px;border: 0 none;cursor: pointer;margin-left: 3px;}
.reset_button {background: transparent url("/images/co/work/reset_button.gif") no-repeat center center;width: 20px; height: 18px;border: 0 none;cursor: pointer;margin-left: 3px;}
.tab_add_button {background: transparent url("/images/co/work/tab_add_button.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.table_add_button {background: transparent url("/images/co/work/table_add_button.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.columns_button {background: transparent url("/images/co/work/columns_button.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.cancel_button {background: transparent url("/images/co/work/cancel_button.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.extension_button {background: transparent url("/images/co/work/application_form_magnify.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.close_button {background: transparent url("/images/co/work/cancel_button.png") no-repeat center center;width: 16px; height: 16px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_button {cursor: pointer;margin-left: 3px;font-size: 11px;border: 1px solid #aeaeae;padding: 1px;}
.date_1d_button {background: transparent url("/images/co/work/date_1d.gif") no-repeat center center;width: 17px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_1s_button {background: transparent url("/images/co/work/date_1s.gif") no-repeat center center;width: 17px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_1m_button {background: transparent url("/images/co/work/date_1m.gif") no-repeat center center;width: 17px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_3m_button {background: transparent url("/images/co/work/date_3m.gif") no-repeat center center;width: 19px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_6m_button {background: transparent url("/images/co/work/date_6m.gif") no-repeat center center;width: 19px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_12m_button {background: transparent url("/images/co/work/date_12m.gif") no-repeat center center;width: 22px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.date_limite_button {background: transparent url("/images/co/work/date_limite.gif") no-repeat center center;width: 54px; height: 14px;border: 0 none;cursor: pointer;margin-left: 3px;}
.ui-datepicker-trigger {cursor: pointer;margin-left: 3px;}
.ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer;} 
.excel_down { background: url("/images/co/work/page_excel.png") no-repeat center center; width: 16px; height: 16px; border: 0 none; vertical-align: middle; margin-left: 2px;}

/* AJAX SPINNER */
#spinnerElement {background:#fff url("/images/co/work/ajax_spinner.gif") no-repeat left center;height: 32px;vertical-align: middle;}
#spinnerElement span {display:block;padding-top:10px;padding-left: 40px;}

/* NUMBER MASK */
.mask-num {ime-mode: disabled;}

/* REQUIRED */
span.required {font-weight: bold;color: red;margin-right: 4px;}

/* FILE DOWNLOAD */
.file_list li {padding: 4px;}
.file_list li a {text-decoration: underline;background:transparent url("/images/co/work/file.gif") no-repeat left center;padding-left: 16px;}
.MultiFile-label {padding: 4px;}


/* WORD BREAK */
.word-break{word-break:break-all;}

/* TEXTAREA LIMIT AREA */
.textarea_limit {text-align: right;}
.textarea_warning {text-align: right;color: #ff0000;}

/* VALIDATION */
div.error {padding: 4px;color: red;font-style: italic;}
input.error, textarea.error, select.error {border: 1px solid red;}

/* TREE AREA */
div.treearea {position: absolute; top: 75px; bottom: 10px; left: 10px;overflow: auto;border: 1px solid #ccc;padding: 4px;}
div.treearea_right {position: absolute; top: 75px; bottom: 10px; left: 35%;overflow-x: hidden;overflow-y:auto;border: 1px solid #ccc;padding: 4px;right: 10px;}
div.treearea_customs {position: absolute; margin-top: 8px; left: 10px;overflow: auto;border: 1px solid #ccc;padding: 4px;}

div.treearea ul li a.current {font-weight: bold;color: red;text-decoration: underline;}

/* OTHER ICON */
.criterion_detail_popup { background: url("/images/co/work/application_view_detail.png") center center; width: 16px; height: 16px; border: 0 none; vertical-align: middle;cursor: pointer;}

.olap_area {border-top:1px solid #CCCCCC;bottom:0;left:0;margin:10px;overflow:hidden;position:absolute;right:0;top:50px;}

.tree_table {width: 100%;}

/* SIMULATION EXECUTION CRITERION LIST */
.execution_list {height: 280px;}

/* Top Menu */
.mr_l120{margin-left:120px;}
.mr_t-1{margin-top:-1px;}
.mr_t-2{margin-top:-2px;}
.mr_t-3{margin-top:-3px;}
.txt_73{color:#737373;}
.txt_black{color:#000;}
.border_r79b7e7{border-right:1px solid #79b7e7;}
.body_topline{min-width:1000px;border-top:3px solid #c43950;}
.main_header{width:95%; height:40px;margin:5px 0 0 5px;}
.main_header h1{float:left;width:59px;}
.main_header .top_txt{float:left;width:350px;height:50px;margin:5px 0 0 12px;}
.main_top_icon{float:right;margin:15px 0 0 0px;}
.main_top_icon li{float:left;margin-left:10px;}
.main_btn_center{border:0;height:18px;background:url(/images/co/work/btn_002.gif) repeat-x;padding:1px;line-height:8px;font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande,'?ë—­?', Dotum;font-size:9px;color:#2e6e9e;}
.top_txt{font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;font-size:20px;letter-spacing:-1px;}
.top_txt li{line-height:21px;}
.topmenu{clear:both;height:37px;border-top:1px solid #9cb8e8;background:url(/images/co/menu/main_tomenu_bg.gif) repeat-x;}
.topmenu li{float:left;line-height:35px;font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;font-weight:bold;font-size:14px;color:#ffffff;cursor:pointer;}
.topmenu li a{font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;font-weight:bold;font-size:14px;color:#ffffff;}
.topmenu .ov{float:left;height:35px;line-height:35px;font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;background:url(/images/co/menu/menu_line_sky.gif) repeat-x;border-bottom:1px solid #79b7e7;font-size:14px;color:#3b77a4;cursor:pointer;}
.topmenu .ov a{font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande,Dotum;font-size:14px;color:#3b77a4;cursor:pointer;}
.topmenu_small{height:30px;border-bottom:1px solid #c5dbec;background:url(/images/co/menu/menu_line_sky02.gif) repeat-x;cursor:pointer;}
.topmenu_small li{float:left;height:30px;line-height:30px;font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;font-size:11px;color:#2e6e9e;border-left:1px solid #79b7e7;cursor:pointer;}
.topmenu_small li a{line-height:30px;font-family:Lucida Sans, Lucida Grande Lucida Sans, Lucida Grande, Dotum;font-size:11px;color:#2e6e9e;}


/* Login */
.wrap_login_main{width:100%;}
.top_txt_login{position:absolute;top:92px;left:215px;font-family:Lucida Sans, Lucida Grande,Lucida Sans, Lucida Grande,Dotum;font-size:22px;letter-spacing:-1px;}
.top_txt_login li{line-height:23px;}
.login_main{position:relative;width:822px;height:520px;background:url(/images/co/login/login_bg.gif) no-repeat;margin:100px auto;}
.login_main h1{position:absolute;top:70px;left:130px;}
.login_main .login_blue_box{position:absolute;top:167px;left:140px;width:540px;height:110px;background:url(/images/co/login/login_box_bg.gif) no-repeat;}
.login_main .txt_id{position:absolute;top:33px;left:135px;}
.login_main .txt_pw{position:absolute;top:65px;left:80px;}
.login_main .input01{position:absolute;top:26px;left:160px;}
.login_main .input02{position:absolute;top:58px;left:160px;}
.login_main .login_btn{position:absolute;top:25px;left:370px;}
.id_input{width:195px;height:22px;}
.pw_input{width:195px;height:22px;}
.tab_sub1 {}
.tab_sub2 {display:none;}
.tab_sub3 {display:none;}
