<configuration scan="false"  debug="false"> 
<!--
    <define name="rootLevel" class="a.class.implementing.PropertyDefiner">
    <shape>round</shape>
    <color>brown</color>
    <size>24</size>
    </define>
-->    
    <insertFromJNDI env-entry-name="java:comp/env/APPLICATION_ID" as="applicationID" /> 
    <insertFromJNDI env-entry-name="java:comp/env/CONTEXT_NAME" as="contextName" /> 
     
    <property name="applicationName"  value="${applicationID:-default}.${contextName:-default}" />   
    <property name="remoteHost"  value="%X{req.remoteHost:-unknown}" /> 
    
    <property name="log.pattern.console" value="%-5level %logger{36}.%method \\(%file:%line\\) - %msg%n"/>
    <property name="log.pattern.file" value="%d{MM/dd HH:mm:ss} ${remoteHost} %-5level %logger{36}.%method \\(%file:%line\\) - %msg%n"/>
    <property name="log.history" value="7"/>
    <property name="log.folder" value="/OmegaPlus/logs/"/>
    <property name="log.file" value="${log.folder}/${applicationName}"/>
    <property name="log.level" value="ERROR"/>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}/omegaplus.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}/omegaplus.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern.file}</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <encoder>
            <pattern>${log.pattern.console}</pattern>
        </encoder>
    </appender>

    <!-- log SQL with timing information, post execution -->
    <logger name="jdbc.sqltiming" level="ERROR"/>
    <logger name="java.sql" level="${log.level}"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <logger name="java.sql.ResultSet" level="ERROR"/>
    
    <logger name="ch.ralscha" level="${log.level}"/>
    <logger name="foren" level="${log.level}"/>
    <logger name="test" level="DEBUG"/>
    
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="ERROR"/>
    <logger name="org.springframework.web.servlet.handler" level="ERROR"/>
    
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>