<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyBatisTest">
	
	<select id="test01" resultType="rMap">
			SELECT TOP 10 *
			FROM xTest01

	</select>
	
	<update id="update01" parameterType="Map">
		UPDATE xTest01 
		<set>
			name = #{name},
			bigo = #{bigo},
			<if test="@foren.Ognl@isNotEmpty(age)" >age = #{age},</if>
			<if test="@foren.Ognl@isNotEmpty(name_en)" >name_en = #{name_en},</if>
		</set>
		WHERE  id = #{id}
	</update>
	
	<update id="insert01" parameterType="Map">
		INSERT INTO xTest01 (id, name, age, bigo)
			VALUES (#{id}, #{name}, #{age}, #{bigo})
	</update>
</mapper>