html, body {
    height: 100%;
}

body {
    margin : 0;
    display : flex;
    flex-direction: column;
}

.b-schedulerbase {
    flex : 1;
}

.demo-header {
    background-color: #2667c8;
}

#title {
    padding: 0.5em;
}
