/* BOOTSTRAP MODIFY */
.col-xs-80, .col-sm-80, .col-md-80, .col-lg-80 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-80 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-80 {width: 80%;float: left;}}
@media (min-width: 992px) {.col-md-80 {width: 80%;float: left;}}
@media (min-width: 1200px) {.col-lg-80 {width: 80%;float: left;}}

.col-xs-76, .col-sm-76, .col-md-76, .col-lg-76 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-76 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-76 {width: 76.666666%;float: left;}}
@media (min-width: 992px) {.col-md-76 {width: 76.666666%;float: left;}}
@media (min-width: 1200px) {.col-lg-76 {width: 76.666666%;float: left;}}

.col-xs-70, .col-sm-70, .col-md-70, .col-lg-70 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-70 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-70 {width: 70%;float: left;}}
@media (min-width: 992px) {.col-md-70 {width: 70%;float: left;}}
@media (min-width: 1200px) {.col-lg-70 {width: 70%;float: left;}}

.col-xs-68, .col-sm-68, .col-md-68, .col-lg-68 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-68 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-68 {width: 68.888888%;float: left;}}
@media (min-width: 992px) {.col-md-68 {width: 68.888888%;float: left;}}
@media (min-width: 1200px) {.col-lg-68 {width: 68.888888%;float: left;}}

.col-xs-65, .col-sm-65, .col-md-65, .col-lg-65 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-65 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-65 {width: 65.555555%;float: left;}}
@media (min-width: 992px) {.col-md-65 {width: 65.555555%;float: left;}}
@media (min-width: 1200px) {.col-lg-65 {width: 65.555555%;float: left;}}

.col-xs-60, .col-sm-60, .col-md-60, .col-lg-60 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-60 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-60 {width: 60%;float: left;}}
@media (min-width: 992px) {.col-md-60 {width: 60%;float: left;}}
@media (min-width: 1200px) {.col-lg-60 {width: 60%;float: left;}}

.col-xs-55, .col-sm-55, .col-md-55, .col-lg-55 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-55 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-55 {width: 55%;float: left;}}
@media (min-width: 992px) {.col-md-55 {width: 55%;float: left;}}
@media (min-width: 1200px) {.col-lg-55 {width: 55%;float: left;}}

.col-xs-45, .col-sm-45, .col-md-45, .col-lg-45 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-45 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-45 {width: 45%;float: left;}}
@media (min-width: 992px) {.col-md-45 {width: 45%;float: left;}}
@media (min-width: 1200px) {.col-lg-45 {width: 45%;float: left;}}

.col-xs-40, .col-sm-40, .col-md-40, .col-lg-40 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-40 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-40 {width: 40%;float: left;}}
@media (min-width: 992px) {.col-md-40 {width: 40%;float: left;}}
@media (min-width: 1200px) {.col-lg-40 {width: 40%;float: left;}}

.col-xs-38, .col-sm-38, .col-md-38, .col-lg-38 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-38 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-38 {width: 38%;float: left;}}
@media (min-width: 992px) {.col-md-38 {width: 38%;float: left;}}
@media (min-width: 1200px) {.col-lg-38 {width: 38%;float: left;}}

.col-xs-33, .col-sm-33, .col-md-33, .col-lg-33 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-33 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-33 {width: 33.333333%;float: left;}}
@media (min-width: 992px) {.col-md-33 {width: 33.333333%;float: left;}}
@media (min-width: 1200px) {.col-lg-28 {width: 33.333333%;float: left;}}
@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}

.col-xs-30, .col-sm-30, .col-md-30, .col-lg-30 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-30 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-30 {width: 30%;float: left;}}
@media (min-width: 992px) {.col-md-30 {width: 30%;float: left;}}
@media (min-width: 1200px) {.col-lg-30 {width: 30%;float: left;}}

.col-xs-28, .col-sm-28, .col-md-28, .col-lg-28 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-28 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-28 {width: 28.888888%;float: left;}}
@media (min-width: 992px) {.col-md-28 {width: 28.888888%;float: left;}}
@media (min-width: 1200px) {.col-lg-28 {width: 28.888888%;float: left;}}
@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}


.col-xs-23, .col-sm-23, .col-md-23, .col-lg-23 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-23 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-23 {width: 23.333333%;float: left;}}
@media (min-width: 992px) {.col-md-23 {width: 23.333333%;float: left;}}
@media (min-width: 1200px) {.col-lg-23 {width: 23.333333%;float: left;}}
@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}

.col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-20 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-20 {width: 20%;float: left;}}
@media (min-width: 992px) {.col-md-20 {width: 20%;float: left;}}
@media (min-width: 1200px) {.col-lg-20 {width: 20%;float: left;}}
@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-15 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-15 {width: 15%;float: left;}}
@media (min-width: 992px) {.col-md-15 {width: 15%;float: left;}}
@media (min-width: 1200px) {.col-lg-15 {width: 15%;float: left;}}
@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}

.col-xs-14, .col-sm-14, .col-md-14, .col-lg-14 {position: relative;min-height: 1px;padding-right: 5px;padding-left: 5px;}
.col-xs-14 {width: 20%;float: left;}

@media (min-width: 768px) {.col-sm-14 {width: 14.285714%;float: left;}}
@media (min-width: 992px) {.col-md-14 {width: 14.285714%;float: left;}}
@media (min-width: 1200px) {.col-lg-14 {width: 14.285714%;float: left;}} 

@media (min-width: 768px) {.col-sm-25 {width: 25%;float: left;}}
@media (min-width: 992px) {.col-md-25 {width: 25%;float: left;}}
@media (min-width: 1200px) {.col-lg-25 {width: 25%;float: left;}}

@media(min-width:768px) { #page-wrapper { position: inherit; margin: 0 0 0 0; padding: 0 30px; border-left: 1px solid #e7e7e7; }}

.modal-dialog {width: 90%;margin-top: 10%}

.navbar-nav li:last-child{margin-right: 15px;}
.navbar-header {font-weight: bold;font-size: 1.7em;}
@media (min-width: 768px) {.navbar-header {margin-left: 20%;}}
@media (min-width: 992px) {.navbar-header {margin-left: 30%;}}
@media (min-width: 1200px) {.navbar-header {margin-left: 40%;}}

.panel-heading {font-weight: bold;}
.page-header {padding-bottom: 0px;margin: 10px 0 0px;}
.page-header .panel-heading {font-size: 1.1em;font-weight: bold;}
.page-header .panel-heading .fa {color:#44ADA8;}
.page-header .value {font-size: 2.5em;font-weight: bold;}
.page-header .unit {font-size:1.3em;font-weight: bold;color:#44ADA8;}

.panel {margin-bottom: 10px;}

.panel-top {border-color: #D9D9D9;}
.panel-top>.panel-heading {color: #333;background-color: #ffffff;border-color: white;}
.panel-top>.panel-body {padding-top: 0px;padding-left: 5px;padding-right: 5px;}

.panel-none {border: none;-webkit-box-shadow: none;box-shadow: none;}
.panel-none>.panel-heading {color: none;background-color: none;border-color: none;}
.panel-none>.panel-body {padding-top: 2px;}

.panel-main {border-color: #D9D9D9;}
.panel-main>.panel-heading {color: #333;background-color: #D0D7EA;border-color: #D0D7EA;font-size:1.1em;font-weight:bold;}
.panel-main>.panel-body {height:300px;}

.tab-content .col-lg-2, .tab-content .col-md-6 {padding-left: 5px;padding-right: 5px;}
.panel-list {border-color: #D9D9D9;}
.panel-list>.panel-heading {color: #2f2f2f;background-color: #F4F8FB;border-color: #D9D9D9;}
.panel-list>.panel-heading-survey {background-color: #77bc8e;}
/* .panel-list>.panel-heading .fa-bars {cursor: pointer;} */
/* .panel-list>.panel-heading .fa-bars {padding: 4px 5px;} */
/* .panel-list>.panel-heading .fa-bars:hover {cursor: pointer;border: 1px solid #D9D9D9;padding: 3px 4px 3px 4px;border-radius: 3px;background-color: rgba(220,220,220,.5);} */
.panel-list>.panel-heading .fa-bars:hover, .panel-main>.panel-heading .fa-bars:hover {cursor: pointer;padding: 0px;border-radius: 3px;background-color: rgba(220,220,220,.5);}
.panel-list>.panel-body {padding: 1px;}
.panel-list>.list-group {border-bottom: 1px solid #D9D9D9;}
.panel-list>.list-group>.list-group-item {color: #61666c;}
.panel-list>.panel-footer {background-color: white;padding: 10px 15px;font-size: 1.3em;font-weight: bold;color: #61666c;}
.panel-list>.panel-footer>.fa {color: #43aea8;}
.panel-list abbr[title] {cursor: help; border-bottom: none;}
/* .panel-white {border-color: #666666;} */
/* .panel-white>.panel-heading {color: #333;background-color: #ffffff;border-color: #666666;} */

/* .list-legend{border-bottom: 1px solid #ddd;} */
/* .list-legend smar{color: #555;cursor: default;background-color: #fff;border: 1px solid #ddd;border-bottom-color: transparent;padding: 5px 5px 2px 5px;} */
.list-legend .fa{margin-right: 2px;}
.list-legend .fa:not(:first-child){margin-left: 10px;}

.list-group-item1 {text-align: center;padding: 35px;}
.list-group-item2 {text-align: center;padding: 10px;}
.list-group-item3 {padding: 6.6px 15px;}
.list-group-item4 {padding: 6.6px 15px;}
.list-group-item5, .list-group-item5-full {padding: 6.6px 15px;}
.list-group-item7, .list-group-item7-full {padding: 1.7px 15px;}
.list-group-item3-full {height: 34%;padding: 18px 15px;}
.list-group-item4-full {height: 25.6%;padding: 11px 15px;}

.color-default {color: #fff;}
.color-primary {color: #337ab7;}
.color-success {color: #5cb85c;}
.color-info {color: #5bc0de;}
.color-warning {color: #f0ad4e;}
.color-danger {color: #d9534f;}



/* FONT-AWESOME MODIFY */

.pdt10 {padding-top: 10px!important;}
.pdl0 {padding-left: 0px!important;}
.pdl5 {padding-left: 5px!important;}
.pdl10 {padding-left: 10px!important;}
.pdr0 {padding-right: 0px!important;}
.pdr5 {padding-right: 5px!important;}
.pdr10 {padding-right: 10px!important;}
.pd0 {padding-left: 0px!important;padding-right: 0px!important;}

.top-clock {display:flex;}
.top-clock div {display: inline-block;}
.top-clock .year_bg{display: flex;width: 122px;height: 50px;background: url('../img/year_bg.gif');}
.top-clock .time_bg{display: flex;width: 62px;height: 50px;background: url('../img/time_bg.gif');}

.top-clock .year_bg div[name=year_0]{margin: 4px 0 0 1px;}
.top-clock .year_bg div[name=year_1]{margin: 4px 0 0 3px;}
.top-clock .year_bg div[name=year_2]{margin: 4px 0 0 1px;}
.top-clock .year_bg div[name=year_3]{margin: 4px 0 0 3px;}
.top-clock .time_bg div[name=month_before]{margin: 4px 0 0 1px;}
.top-clock .time_bg div[name=month_after]{margin: 4px 0 0 3px;}
.top-clock .time_bg div[name=date_before]{margin: 4px 0 0 1px;}
.top-clock .time_bg div[name=date_after]{margin: 4px 0 0 3px;}

.top-clock .time_bg div[name=hours_before]{margin: 4px 0 0 1px;}
.top-clock .time_bg div[name=hours_after]{margin: 4px 0 0 3px;}
.top-clock .time_bg div[name=minutes_before]{margin: 4px 0 0 1px;}
.top-clock .time_bg div[name=minutes_after]{margin: 4px 0 0 3px;}
.top-clock .time_bg div[name=seconds_before]{margin: 4px 0 0 1px;}
.top-clock .time_bg div[name=seconds_after]{margin: 4px 0 0 3px;}

.top-clock .time_0 {width: 28px;height: 42px;background: url('../img/time_00.png');}
.top-clock .time_1 {width: 28px;height: 42px;background: url('../img/time_01.png');}
.top-clock .time_2 {width: 28px;height: 42px;background: url('../img/time_02.png');}
.top-clock .time_3 {width: 28px;height: 42px;background: url('../img/time_03.png');}
.top-clock .time_4 {width: 28px;height: 42px;background: url('../img/time_04.png');}
.top-clock .time_5 {width: 28px;height: 42px;background: url('../img/time_05.png');}
.top-clock .time_6 {width: 28px;height: 42px;background: url('../img/time_06.png');}
.top-clock .time_7 {width: 28px;height: 42px;background: url('../img/time_07.png');}
.top-clock .time_8 {width: 28px;height: 42px;background: url('../img/time_08.png');}
.top-clock .time_9 {width: 28px;height: 42px;background: url('../img/time_09.png');}

.top-clock .date_dot{width: 10px;height: 50px;margin: 0 5px;background: url('../img/date_dot.gif');}
.top-clock .time_dot{width: 10px;height: 50px;margin: 0 5px;background: url('../img/time_dot.gif');}



.list-value1{font-size:1.2em; font-weight:bold;}
.list-value2{font-size:1em; font-weight:bold;color:#44ADA8;}
.list-value3{font-size:3.5em; font-weight:bold;}
.list-unit3{font-size:1.5em; font-weight:bold;color:#44ADA8;}


/* 		.list-number {float: left;color: white;background-image:url('../img/icon_no_bg.gif');width: 16px;height: 16px;padding: 0px 3px;} */
.panel-main .list-number {behavior: url(PIE.htc); /* remove if you don't care about IE8 */ float: left;margin-left: 10px;border-radius: 20%;width: 17px;height: 17px;padding: 0px ;background: #143A5E;border: 2px solid #143A5E;color: #fff;text-align: center;font: 13px Arial, sans-serif;}
.panel-main .list-text {float: left;margin-left: 10px;}
.panel-main .fa {float: right;font-weight: bold;}
.panel-main .fa-long-arrow-up {color: red;}
.panel-main .fa-long-arrow-down {color: blue;}

.tab-content .tab-pane > .row{margin: 10px -5px 0 -5px;}

/* Main & Detail Chart Area */
.sqn-main-body {height:170px;}
.sqn-main-body-div {width: 100%;position: relative;}
.sqn-main-body-area {position: absolute;background: white;width: 100%;z-index: 1;}
.sqn-detail-body-div {width: 100%;position: relative;}
.sqn-detail-body-area {position: absolute;background-color: white;width: 100%;z-index: 1;border: 1px solid black;}

.sqn-cover-area {width: 100%;position: relative;}
.sqn-cover-body {position: absolute;background: white;width: 100%;z-index: 1;}


.sqn-cover-body .node circle {fill: #fff;stroke: steelblue;stroke-width: 1.5px;}
.sqn-cover-body .node {font: 10px sans-serif;}
.sqn-cover-body .link {fill: none;stroke: #ccc;stroke-width: 1.5px;}

/* more icon size by font-awesome*/
.fa-12dx{ font-size:1.2em;}
.fa-13dx{ font-size:1.3em}
.fa-26dx{ font-size:2.6em}








/* modal layer */
.dataTables_filter .form-control.input-sm{width: 100px;}
.dataTables_info{float:left;}


/* 로딩 이미지 : loader.gif */
.loadimg {position:absolute; left:50%; top:50%; z-index:100; margin:-50px 0 0 0;opacity:1;border-radius:10px;background:#4e4e4e;}
.transparents-layer {position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.6; filter:alpha(opacity="60")}
#popupwrap .transparents-layer {z-index:110; opacity:0.6; filter:alpha(opacity="60")}
