/* Main & Detail Chart Area */
.sqn-main-body {height:250px;}
.sqn-detail-body-div {width: 100%;position: relative;}
.sqn-detail-body-area {position: absolute;background-color: white;width: 100%;z-index: 1;border: 1px solid black;}

/* flow arrows delay init */
.sqn-ad-5 { animation-delay: 0.5s; }
.sqn-ad-10 { animation-delay: 1.0s; }
.sqn-ad-15 { animation-delay: 1.5s; }
.sqn-ad-20 { animation-delay: 2.0s; }
.sqn-ad-25 { animation-delay: 2.5s; }
.sqn-ad-30 { animation-delay: 3.0s; }
.sqn-ad-35 { animation-delay: 3.5s; }
.sqn-ad-40 { animation-delay: 4.0s; }
.sqn-ad-45 { animation-delay: 4.5s; }
.sqn-ad-50 { animation-delay: 5.0s; }
.sqn-ad-55 { animation-delay: 5.5s; }
.sqn-ad-60 { animation-delay: 6.0s; }

/* more icon size by font-awesome*/
.fa-13dx{ font-size:1.3em}