package ${p.serviceImplPackageName};

import java.util.List;
import java.util.Map;

import org.springframework.stereotype.Service;

import unipass.cm.cmi.common.CmiAbstractServiceImpl;

import ${p.importServiceName};

/**
 * @Class Name : ${p.serviceImplName}
 * @Description : !!! Describe Class
 * @author SangJoon Kim
 * @since 2012. 4. 13.
 * @version 1.0
 * @see
 * 
 * @Modification Information
 * 
 *               <pre>
 *    Date                Changer         Comment
 *  ===========    =========    ===========================
 *  2012. 4. 13. by SangJoon Kim: initial version
 * </pre>
 */
@Service("${p.serviceBeanName}")
public class ${p.serviceImplName} extends CmiAbstractServiceImpl
		implements ${p.serviceInterfaceName} {

	
	#foreach( $method in ${prg.methods} )
	/**
	 * ${method.description}
	 * @return
	 */
		@Override
	public List<Map<String,Object>> ${method.name}(Map param) throws Exception {
		return (List) super.cmiCommonDao.list("${p.serviceClassName}.${method.name}", param);
	}
	#end

}
