div.wrap h1, div.wrap h2, div.wrap h3, div.wrap h4, div.wrap h5, div.wrap h6,
div.wrap blockquote, div.wrap p, div.wrap address, div.wrap pre, div.wrap cite,
div.wrap form, div.wrap fieldset, div.wrap input, div.wrap textarea, div.wrap select,
div.wrap table, div.wrap th, div.wrap td {
	margin:0;
	padding:0;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif
	}

div.wrap table {
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
	}
div.wrap caption, div.wrap th, div.wrap td {
	text-align:left;
	font-weight: normal;
	border:0 none;
}
/*a link ���*/
div.wrap a:link, a:visited {text-decoration:none; color:#777;}
div.wrap a:hover {text-decoration:none; color:#777;}

.basicTable02 th a:link, a:visited {text-decoration:none; color:#777;}
.basicTable02 th a:hover {text-decoration:none; color:#777;}
.title a:link, a:visited {text-decoration:none; color:#777;}
.title a:hover {text-decoration:none; color:#777;}

#wrap {
	padding: 20px;
	font-size:16px;
	color: #777;
	display:inline-block;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif !important; ;
}
.selectedBox {
	background-color:#fffff;
}
#wrap .box01, .box02, .box03, .box04 {
	float: left;
	border-radius: 2px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 3px #ccc;
	padding: 0px 20px 20px 30px;
}
#wrap .box01, .box03 {
	margin-right:15px;
	width: 850px;	
	height:260px;
}
#wrap .box01, .box02 {
	margin-bottom:15px;
	height:260px;
}
#wrap .box01 .cnt01 {
	float:left;
	margin-right:5%;
	width:168px;
}
#wrap .box01 .cnt02 {
	float:left;
	margin-right:0;
	width:21%;
}
#wrap .box02 {
	width:312px;
	float:left;
	height:260px;
}
#wrap .box03 {
	display:inline;
}
#wrap .box03 .cnt01 {
	float:left;
	width:360px;
	margin-right:36px;
}
#wrap .box03 .cnt02 {
	float:left;
	width:360px;
	margin-right:0;
}
#wrap .box04{
	width:312px;
	float:left;
	height:260px;
	padding: 40px 40px 0 40px;
}
#wrap .title{
	display:inline;
	font-size:16px;
	color: #777;
	display:inline-block;
	width:320px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.txt12{
	font-size:12px;
	display:inline;
	line-height: 55px;
}
h1.portal {
	font-size:20px !important; 
	font-weight:bold !important;
	color:#777 !important;
	margin-bottom:15px !important;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif !important;
}
.orange {
	color:#f50;
	font-weight:bold;
	padding-right:3px;
}
.basicTable01 {
	width: 100%;
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
}
.basicTable01 td, th {
	line-height:30px;
	border-bottom: 1px dotted #999;
	font-size:16px;
	display:inline-block;
	color:#777 !important;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif !important; 
	font-weight: normal;
}
.basicTable01 td {
	text-align:right;
	width:63px;
}
.basicTable01 th {
	padding-left:10px;
	text-align:left;
	border-left: 1px dotted #999;
	width :95px;
}
.basicTable02 {
	clear:both;
	font-size:14px;
	width:100%;
}
.basicTable02 th {
	padding-left:10px;
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
	text-align:left;
	width :273px;
	font-weight:600;
	font-size:14px;
}
.basicTable02 td {
	text-align:right;
	font-size:14px;
	color:#999;
	width :87px;
}
.basicTable02 th, td{
	border-bottom: 1px dotted #999;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif !important; 
}
/*
.basicTable02 th, td{
    border-bottom: 1px dotted #999;
    color:#777 !important;     // 메뉴 Color 를 Disable 상태로 바뀌게 보이제 해서 삭제함. - 박종영
    font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif !important; 
}
*/
.exa {
	clear:both;
	font-size:12px;
	color:#999;
	padding-left:30px;
	padding-top:15px;
}
.str {
	font-weight:bold;
}
.cardHistory {
	background-image:url(background/cardHistory.png);
	background-repeat:no-repeat;
	background-position: 0 10px;
	padding-left:105px;
	padding-top:50px;
	padding-bottom:35px;
	font-size:12px;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif;
	color:#777;
	font-weight: normal;
}
.btn01 {
	margin-left:70px;
	border-radius:3px;
	background-color:#DA8A49;
	border: 1px solid	#c87633;
	color: #FFF;
	line-height:20px;
	font-size:16px;
	font-weight: bold;
	padding: 7px 20px 7px 20px;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif;
}
.btn02{
	width:100%;
	border-radius:3px;
	background-color:#77b3eb;
	border: 1px solid	#3e87cb;
	color: #FFF;
	line-height:24px;
	font-weight: bold;
	text-align:left;
	padding:10px 10px 10px 80px;
	background-image:url(background/btnBG02.png);
	background-repeat:no-repeat;
	background-position: 30px center;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif;
}
.btn03{
	width:100%;
	border-radius:3px;
	background-color:#77ebae;
	border: 1px solid	#61c18e;
	color: #FFF;
	line-height:24px;
	font-weight: bold;
	text-align:left;
	padding:10px 10px 10px 80px;
	background-image:url(background/btnBG03.png);
	background-repeat:no-repeat;
	background-position: 30px center;
	margin-top:10px;
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif;
}
.btn01 span .btn02 span .btn03 span {
	font-family:"Malgun Gothic","돋음", Arial, Helvetica, sans-serif;
}