.nbox-feed-list {
    padding: 3px 3px 0px 3px;
}
 
.nbox-feed-sel-item {
    cursor: pointer;
    color: #083772;
}

.nbox-feed-seled-item {
    cursor: pointer;
    color: #083772;
}
 
.nbox-feed-sel-item:hover {
    color: #0464bb;
}

.nbox-file-del-item{
	cursor: pointer;
	font-size:smaller;
}
.nbox_view_field_label{
	color: #666666; 
	font-size: 9pt; 
	text-align: right; 
	font-weight: bold;
}
.nbox-calendar-feed-sel-item {
    cursor: pointer;
}

.nbox-calendar-feed-seled-item {
    cursor: pointer;
    /* color: #083772; */
}
 
.nbox-calendar-feed-sel-item:hover {
    color: #0464bb;
}

.nbox-contentTitle {
	background-color: #ffffff !important; 
	height: 25px !important;
	/* line-height: 32px  !important; */
	vertical-align: middle;
	padding-left: 5px !important;
	color: #000000;	
	font-weight: bold;
	font-size: 14px !important;
	font-family: "맑은 고딕", "굴림";
}	
	

/* groupware title */
.nbox-pageTitle {
	background-color: #0b4466 !important; 
	height: 32px !important;
	line-height: 32px  !important;
	vertical-align: middle;
	padding-left: 20px !important;
	color: #fefefe;	
	font-weight: bold;
	font-size: 15px !important;
	font-family: "맑은 고딕", "굴림";	
}	

.nbox-doc-header {
	
	background-image: url("nbox/main/bg_header.jpg") !important ; 
	background-repeat: repeat-x;
	background-position: bottom;
	
	/* vertical-align: middle; */
	/*  
	background-color: #0b4466 !important;
	 */
	/* background-color: #085788 !important; */ 

}

.nboxModuleNameBox {
	top: 0 !important;
	background: none; /* url("main/moduleBoxBg.png") repeat-x; */
	background-color: #0b4466; /* #516daf; */
	color: #fefefe;
	/* text-shadow: 2px 2px 2px #202020; */
	text-align: center;
	font-weight: bolder;
	font-size: 16px !important;
	vertical-align: middle;
	/*box-shadow: none !important; */
	border: none !important;
}

.nboxModuleNameBox .x-header-text{
	color: #fefefe;
	/*text-shadow: 2px 2px 2px #202020;*/
	text-align: center;	
	font-weight: bolder;
	font-size: 15px !important;
	vertical-align: middle;
	font-family: "맑은 고딕", "굴림";
}
.nboxModuleNameBox h3 {
	color: #fefefe;
	/*text-shadow: 2px 2px 2px #202020;*/
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
}

/* approval */
.nboxDocEditLineTd {
	padding:0px; 
	border-right-width:1px;
	border-bottom-width:1px;
}

.nboxDocEditLineTd div:hover {
	background-image: url("nbox/main/close162.png") !important ; 
	background-repeat: no-repeat;	
	background-position: top right;
}

.nboxDocEditLineDiv {
	cursor: pointer;
	float:left; 
	border:1px solid #C0C0C0;
	margin:5px 5px 5px 0px; 
	width:85px; height:45px; 
	text-align:center;
}

.nboxDocEditRcvUserTd {
	border:1px solid #C0C0C0; 
	padding:3px; 
}

.nboxDocEditRcvUserTd div:hover {
	background-image: url("nbox/main/close162.png") !important ; 
	background-repeat: no-repeat;	
	background-position: top left;
}

.nboxDocEditRcvUserDiv {
	cursor: pointer;
	float:left;  
}

.nboxDocEditBasisTd {
	border:1px solid #C0C0C0; 
	padding:3px; 
}

.nboxDocEditBasisTd div:hover {
	background-image: url("nbox/main/close162.png") !important ; 
	background-repeat: no-repeat;	
	background-position: top left;
}

.nboxDocEditBasisDiv {
	cursor: pointer;
	float:left;  
}

/*calendar */	
.icon-cal-H {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-color:transparent !important; 
	color:#FF0000 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-P {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-color: #eda12a; 
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-D {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-color: #7399f9;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-C {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-color: #a8c67b; 
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-W {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-color: #d5b816;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-B {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	/* background-image:url(icons/icon-cal-B.png) !important; */
	background-color:transparent !important;
	color:#0000ff !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}
	