@charset "utf-8";




.x-btn-default-small .x-btn-glyph,
.x-btn-default-toolbar-small .x-btn-glyph,
.x-btn-plain-toolbar-small .x-btn-glyph,
.x-btn-plain-toolbar-small .x-btn-glyph {
	font-size: 20px
}

.x-tab .x-tab-glyph,
.x-panel-header .x-panel-header-glyph,
.x-window-header .x-window-header-glyph,
.x-menu-item-glyph {
	font-size: 20px
}

.x-btn-default-medium .x-btn-glyph,
.x-btn-default-toolbar-medium .x-btn-glyph,
.x-btn-plain-toolbar-medium .x-btn-glyph {
	font-size: 32px
}

.x-btn-default-large .x-btn-glyph,
.x-btn-default-toolbar-large .x-btn-glyph,
.x-btn-plain-toolbar-large .x-btn-glyph {
	font-size: 43px
}

.x-drop-target-active .x-grid-cell-inner {
	background-color: #D88
}

.ux-rangemenu-icon {
	display: block;
	height: 16px;
	background: no-repeat 5px center
}

.ux-rangemenu-gt {
	background-image: url(images/grid/greater_than.png) !important
}

.ux-rangemenu-lt {
	background-image: url(images/grid/less_than.png) !important
}

.ux-rangemenu-eq {
	background-image: url(images/grid/equals.png) !important
}

.ux-filtered-column {
	font-style: italic;
	font-weight: bold
}

.ux-gridfilter-text-icon {
	background-image: url(images/grid/find.png) !important
}

.dataview-multisort-item {
	float: left;
	padding: 8px;
	margin: 8px
}

.x-rtl .dataview-multisort-item {
	float: right
}

.dataview-multisort-item h3 {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	padding-top: 5px;
	margin: 0
}

.x-btn .sort-direction-asc {
	background-image: url(images/grid/sort_asc.gif);
	background-position: 4px center
}

.x-btn .sort-direction-desc {
	background-image: url(images/grid/sort_desc.gif);
	background-position: 4px center
}



.x-window-header {
	background-color: #BBD1EF !important;
}


.x-form-num-field {
    text-align: right !important;
}


/* body,h1,h2,h3,h4,input,button{font-family:'돋 움',d otum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:12px;color:#000} */
body,h1,h2,h3,h4,input,button{font-family:'굴림',Gulim,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:12px;color:#000} */

/* @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); */
/* IE 10에서 발생하는 X 버튼의 문제(bug) 를 피하기 위하여 처리 */
::-ms-clear { display: none; }

img {border: 0 none;margin: 0;padding: 0;vertical-align: middle;}

.logout a {
	margin: 5;
	text-decoration: none !important;
	color:#000;
	font-weight
}
#login-container a {
	color:#000;	
}
#login-container {
	color:#000;	
}
.mainModuleButton {
	background:url("main/m_module_00.png") no-repeat;
}
.mainSubLogo .x-panel-header  {
	background-repeat: repeat-x;
	background-position: center;
	background-image:url("main/subLogoBg.png") !important;
}
.mainSubLogo .x-panel-header-body  {
	background-repeat: no-repeat;
	background-position:center;
	background-image:url("main/subLogo.png") !important;
}
.moduleNameBox {
	top: 0 !important;
	background: none; /* url("main/moduleBoxBg.png") repeat-x; */
	background-color: #516daf;
	color: #fefefe;
	/* text-shadow: 2px 2px 2px #202020; */
	text-align: center;
	font-weight: bolder;
	font-size: 16px !important;
	vertical-align: middle;
	/*box-shadow: none !important; */
	border: none !important;
}
.moduleNameBox .x-title-text{
	color: #fefefe;
	/*text-shadow: 2px 2px 2px #202020;*/
	text-align: center;	
	font-weight: bolder;
	font-size: 15px !important;
	vertical-align: middle;
	font-family: "맑은 고딕", "굴림";
}
.moduleNameBox h3 {
	color: #fefefe;
	/*text-shadow: 2px 2px 2px #202020;*/
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
}

/*
.main-x-tab-bar-horizontal {
	margin-bottom: 5px !important;
}*/


a:link {
	text-decoration: none;
}


.msg {
	font-size: 14px
}

#msg-div {
	position: absolute;
	left: 50%;
	top: 10px;
	width: 400px;
	margin-left: -200px;
	z-index: 20000
}

#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #f6f6f6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555
}

#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px
}

#msg-div .msg p {
	margin: 0
}


#app-header {
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f3f6fc),
		color-stop(100%, #cbdaf0));
	background-image: -webkit-linear-gradient(top, #f3f6fc, #cbdaf0);
	background-image: -moz-linear-gradient(top, #f3f6fc, #cbdaf0);
	background-image: -o-linear-gradient(top, #f3f6fc, #cbdaf0);
	background-image: -ms-linear-gradient(top, #f3f6fc, #cbdaf0);
	background-image: linear-gradient(top, #f3f6fc, #cbdaf0);
	border-bottom: 1px solid #a3bde5
}

#app-header-title {
	padding: 15px 10px 10px 31px;
	background: url(images/logo.png) no-repeat 10px 11px;
	color: #04408c;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 0 gray
}

#theme-switcher-combo-labelEl {
	color: #04408c;
	font-weight: bold
}

#content-panel-body {
	background-image: url(images/square.gif)
}

#description-panel-body p {
	margin: 10px
}

.preview-container pre.prettyprint {
	margin: 0;
	border: 0
}

@font-face {
	font-family: 'Pictos';
	src: url("pictos/pictos.eot");
	src: url("pictos/pictos.eot?#iefix") format("embedded-opentype"),
		url("pictos/pictos.woff") format("woff"), url("pictos/pictos.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal
}

#east-region-body {
	background-color: #dfe8f6
}

#docked-toolbars .list {
	background-image: url(images/icons/fam/text_list_bullets.png)
}

#docked-toolbars .close {
	background-image: url(images/icons/fam/delete.png)
}

#docked-toolbars .paste {
	background-image: url(images/icons/fam/paste_plain.png)
}

#docked-toolbars .edit {
	background-image: url(images/icons/fam/page_white_edit.png)
}

.task {
	background-image: url(images/icons/fam/cog.gif)
}

.task-folder {
	background-image: url(images/icons/fam/folder_go.gif)
}

.icon-grid {
	background-image: url(images/icons/fam/grid.png)
}

.icon-clear-group {
	background-image: url(images/icons/fam/control_rewind.png)
}

#basic-toolbar .paste {
	background-image: url(images/icons/fam/paste_plain.png)
}

#basic-toolbar .cut {
	background-image: url(images/icons/fam/cut.png)
}

#basic-toolbar .copy {
	background-image: url(images/icons/fam/page_copy.png)
}

#basic-toolbar .format {
	background-image: url(images/icons/fam/paintbrush.png)
}

#basic-toolbar .list {
	background-image: url(images/icons/fam/text_list_bullets.png)
}

.buy-col {
	background-image: url(images/icons/fam/accept.png)
}

.sell-col {
	background-image: url(images/icons/fam/delete.gif)
}

.alert-col {
	background-image: url(images/icons/fam/error.png)
}

.uni-table_td_div {
	margin-top: 3px;
	position: relative;
	/*margin-bottom: 2px;*/
}

.table_td_in_uniTable {
	padding-bottom:2px !important;
}

.uni-pg-title {
	font-weight: bold;
	color:#efefef;
}

.uni-pageTitle {
	background-color: #516daf !important;
	height: 32px !important;
	line-height: 32px  !important;
	vertical-align: middle;
	padding-left: 20px !important;
	color: #fefefe;	
	font-weight: bold;
	font-size: 15px !important;
	font-family: "맑은 고딕", "굴림";	
}
.uni-doc-header {
	/* 
	background-image: url("main/header-bg.png") !important ; 
	background-repeat: repeat-x;
	background-position: bottom;
	*/
	vertical-align: middle;
	/* 
	background-color: #0b4466 !important;
	*/
	background-color: #085788 !important;

}
.home-top-maximize {
	background-image: url(theme_01/fullscreen.png) !important;
}
.uni-module-top {
	background-image: url("main/module_bg_top.png") !important ;
	background-repeat: repeat-x;
	background-position:  bottom;
}
.uni-module-left {
	background-image:url("main/module_bg_left.png") !important ;
	background-repeat: repeat-y;
	background-position:  bottom;
}
input[readonly="readonlyx"] {
	background: #efefef !important;
}
.x-form-readonly  input[type="text"]  {
	background: none repeat scroll 0 0 #EFEFEF !important;
}
.x-form-readonly  textarea  {
	background: none repeat scroll 0 0 #EFEFEF !important;
}
.x-form-cb-checked .x-form-cb:disabled{
	background-position: -39px -13px
}
.x-form-cb:disabled   {
	background-position: -39px 0px
}

/*
.x-form-required-field {
	background: #ffffff ;
}*/

.required_field_label:before {
	color: #f00;    
	/*font-size: 14px;*/
	content:"*";
}

.required_field_label .x-form-item-label-inner {
	display: inline;
}


/** GRID 설정 **/

.GRID_COL_HREF {
	cursor: pointer;
	color: blue;
}

.GRID_COL_EDITABLE {
	cursor:text;
}

.GRID_COL_MANDATORY {
	background-color:  #FCFCB6 ;
}

/* 그리드 헤더 텍스트 수직 가운데 */
.x-column-header-inner {
	padding: 6px 6px 4px 6px;
}

/* 그리드 바디 텍스트 수직 가운데 */
.x-grid-cell-inner {
	padding: 6px 6px 2px 6px;
}

/* 그룹 그리드 서브헤더 텍스트 수직 가운데 */
.x-group-sub-header .x-column-header-inner {
	padding: 5px 6px 3px 6px
}

/* 편집 그리드 첫 행에서 컴퍼넌트가 top 방향으로 들어맞게 */
.x-grid-with-row-lines .x-grid-table {
	border-top: 0px solid white;
}

/* 편집 그리드  셀 내 컴퍼넌트 텍스트 */
.x-grid-editor .x-form-text {
	padding: 2px 5px 2px 5px;
	height: 20px;
	vertical-align:middle;
	padding:0;
}

.x-grid-row-alt .GRID_COL_MANDATORY {
 	background: #F1F1B1 ;
}

/* GRID Selected  b8cfee EAEAA1 */
.x-grid-row .x-grid-cell-selected, 
.x-grid-cell-selected .x-grid-td {
	background-color: #b8cfee !important;
}
.GRID_ROW_SELECTED {
	color:#f00;
}
.x-grid-row .x-grid-cell-selected .GRID_COL_MANDATORY,
.x-grid-cell-selected .GRID_COL_MANDATORY {
 	background-color: #FF0000 !important;
}

/* GRID Mouse Over #EAEAA1*/
.x-grid-row-over .GRID_COL_MANDATORY,
.x-grid-row-over .x-grid-row-alt .GRID_COL_MANDATORY {
 	background: #EAEAA1 ;
 }

/*
.x-form-text {
	background-image: none !important;
}
.x-panel-body-default {
	background-color: #E8EDF1 !important;
}
.x-body {
	background-color: #E8EDF1 !important;
}
.x-grid-view{
	background-color: #ffffff! important;
}
*/

 .x-grid-row-summary {
	background-color: #F4F1ED !important; 
 } 
 
.x-grid-grand-row-summary .x-grid-cell,
.x-grid-grand-row-summary .x-grid-rowwrap,
.x-grid-grand-row-summary .x-grid-cell-rowbody {
	background-color: #e4F1ED !important;
	font: normal 12px/14px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
}

 .x-grid-group-hd {
 	text-align: left  !important; 
 }
 
 /*
 * grouping할때 모양 보기 않좋아서 추가  
 * Override standard grid styles (add colour to vertical grid lines)
  */
.x-grid-cell {
    border-left:  1px solid #FFFFFF !important ;
    border-right: 1px solid #eee !important;
}

/* Also remove padding from table data (to compensate for added grid lines) */
.x-grid3-row td, .x-grid3-summary-row td {
    padding-left: 0px;
    padding-right: 0px;
}

.uni_combo_text {
    display: inline;
}

.uni_combo_value {
    border-left: 1px solid #909090;
    padding: 0 2px 0 2px;
    display: inline;
    position: absolute;
    width: 40px;
    overflow:hidden;
    right: 0;
}

.uni_combo_value_none_width {
    border-left: 1px solid #909090;
    padding: 0 2px 0 2px;
    display: inline;
    position: absolute;
    overflow:hidden;
    right: 0;
}
.uni_combo_value_wide {
    border-left: 1px solid #909090;
    padding: 0 2px 0 2px;
    display: inline;
    position: absolute;
    width: 65px;
    overflow:hidden;
    right: 0;
}
.icon-pinfo {
    background-image:url(icons/icon_pinfo.png) !important;
}

.icon-query {
    background-image:url(icons/s01_query.png) !important;
}

.icon-save {
    background-image:url(icons/s01_save.png) !important;
}
.icon-excel {
    background-image:url(icons/s01_excell.png) !important;
}
.icon-delete {
    background-image:url(icons/s01_delete.png) !important;
}
.icon-deleteAll {
    background-image:url(icons/s01_deleteAll.png) !important;
}
.icon-new {
    background-image:url(icons/s01_new.png) !important;
}
.icon-newWindow {
    background-image:url(icons/s01_newWindow.png) !important;
}
.icon-reload {
    background-image:url(icons/s01_reload.png) !important;
}
.icon-reset {
    background-image:url(icons/s01_reset.png) !important;
}

.icon-print {
    background-image:url(icons/printer.png) !important;
}

.icon-movePrev {
    background-image:url(icons/s01_movePrev.png) !important;
}
.icon-moveNext {
    background-image:url(icons/s01_moveNext.png) !important;
}
.icon-detail {
    background-image:url(icons/s01_detail.png) !important;
}
.icon-close {
    background-image:url(icons/s01_close.png) !important;
}
.icon-manual {
    background-image:url(icons/s01_manual.png) !important;
}
.icon-chart{
    background-image:url(icons/s01_chart.png) !important;
}
.icon-manual {
    background-image:url(icons/s01_manual.png) !important;
}
.icon-link{
    background-image:url(icons/icon-forLink.gif) !important;
}
.icon-popup{
    background-image:url(icons/icon-forPopup.png) !important;
}
.icon-referance{
    background-image:url(icons/forReference.gif) !important;
}
.icon-grid-sort{
    background-image:url(icons/sort.png) !important;
}
.icon-grid-find{
    background-image:url(icons/find.png) !important;
}
.icon-grid-sum{
    background-image:url(icons/sum.png) !important;
}
.icon-sheetSaveState{
	background-repeat: no-repeat;
	background:url(icons/sheet_disk.png) !important ;
}
.icon-sheetResetState{
	background-repeat: no-repeat;
	background-image:url(icons/sheet_reset.png) !important;
}
.icon-grid-check{
    background-image:url(icons/icon-check.gif) !important;
}
.icon-grid-uncheck{
    background-image:url(icons/icon-uncheck.gif) !important;
}

.icon-fileupload-button-delete{
	background-repeat: no-repeat;
	left:0;
	top:0;
	background-image:url(icons/icon-file-delete.png) !important;
}
.icon-expandAll {
    background-image:url(icons/tree_expandAll.png) !important;
}
.icon-collapsedAll {
    background-image:url(icons/tree_collapseAll.png) !important;
}

.icon-postit {
    background-image:url(../images/A_btnSavePostIt.png) !important;
}
.icon-getauto {
    background-image:url(../images/A_btnGetAuto.png) !important;
}
.icon-saveauto {
    background-image:url(../images/A_btnSaveAuto.png) !important;
}
.icon-saveRemark {
    background-image:url(../images/A_btnSaveRemark.png) !important;
}
.icon-copySlip {
    background-image:url(../images/A_btnCopySlip.gif) !important;
}

/** file upload **/
.pluploadAddCls {
	background-repeat: no-repeat;
	left:0;
	top:0;
	background-image:url(icons/upload_add.png) !important;
}
.pluploadUploadCls {
	background-repeat: no-repeat;
	left:0;
	top:0;
	background-image:url(icons/upload_up.png) !important;
}
.pluploadDeleteCls {
	background-repeat: no-repeat;
	left:0;
	top:0;
	background-image:url(icons/upload_trash.png) !important;
}
.pluploadCancelCls {
	background-repeat: no-repeat;
	left:0;
	top:0;
	background-image:url(icons/upload_cancel.png) !important;
}
.pluploadDownloadActionCls {
	background-position:center  !important;
    width: auto !important;
    background-repeat: no-repeat;
	background-image:url(icons/upload_save.png) !important;
}
/* Menu용 */
.menu-menuShow {
	background-repeat: no-repeat;
	background-image:url(icons/menu-show.gif) !important;
}


/* Calendar용 */
.icon-cal-MP {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-image:url(icons/icon-cal-MP.png) !important;
	background-color:transparent !important;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-refresh {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-image:url(icons/icon-cal-refresh.png) !important;
	background-color:transparent !important;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-MPR {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-image:url(icons/icon-cal-MPR.png) !important;
	background-color:transparent !important;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

.icon-cal-MR {
	border-radius:0 !important;
	padding-left:14px;
	background-position:0px 1px;
	background-repeat: no-repeat;
	background-image:url(icons/icon-cal-MR.png) !important;
	background-color:transparent !important;
	color:#707070 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}
.icon-cal-ie {
	border-radius:0 !important;
	background-color:transparent !important;
	color:#808080 !important;
	font: normal 11px '돋움',dotum,Helvetica, tahoma, arial, verdana, sans-serif;
	border:none !important;
}

/******* clear button *********/
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(./icons/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 1px;  // 4px
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

/* *********************************************************** */
/* **************statusBar**************** */
/* *********************************************************** */


/* StatusBar - structure */
.x-statusbar .x-status-text {
    cursor: default;
/*
    height: 21px;
    line-height: 21px;
    padding: 0 4px;
*/
}
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

/* StatusBar word processor example styles */

#word-status .x-status-text-panel .spacer {
    width: 60px;
    font-size:0;
    line-height:0;
}
#word-status .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 5px 10px;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}

.x-tip {
	white-space: pre-line;
}
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */


/* StatusBar - visual */

.x-statusbar .x-status-busy {
    background-image: url(./statusbar/loading.gif);
}
.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

/* StatusBar word processor example styles */

#word-status .x-status-text {
    color: #777;
}
#word-status .x-status-busy {
    background-image: url(./statusbar/saving.gif);
}
#word-status .x-status-saved {
    background-image: url(./statusbar/saved.png);
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    color: #C33;
    background-image: url(./statusbar/exclamation.gif);
}
.x-statusbar .x-status-valid {
    background-image: url(./statusbar/accept.png);
}
.x-status-error-list {
    border-color: #C33;
    background: white;
}
.x-status-error-list li a {
    color: #15428B;
}

.x-tab-tabmenu-right {
    background: transparent url('extUx/tab-scroller-menu.gif') no-repeat 0 0;
    width: 18px;
    height: 24px;
    cursor: pointer;
    zoom: 1;
    z-index: 6;
    position: absolute;
    right:18px;
    top:3px;
    bottom:0px;
}

.x-tab-tabmenu-over {
    background-position: -18px 0;
}

.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}

/*****************************
* for multi sorting
*/

.sort-desc {
    background-image: url("./grid/sort_desc.gif") !important;
    background-position: 4px 7px !important;
}
.sort-asc {
    background-image: url("./grid/sort_asc.gif") !important;
    background-position: 4px 7px !important;
}

/*****************************
* for live search
*/
.x-livesearch-match {
    font-weight: bold;
    background-color: yellow;
}

.x-toolbar .x-form-cb-wrap {
    line-height: 22px;
}
.x-toolbar .x-form-checkbox {
    vertical-align: 0;
}

/*******************
* for Menu Tree
*/
.x-tree-leaf-disable {
	background-image: url("./tree/tree-leaf-disable.png") !important;
}

/*******************
* for Panel Header Vertical Font

.x-panel-header-default-vertical .x-panel-header-text-container {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform: rotate(90deg);
	-moz-transform-origin: 0 0;
	-o-transform: rotate(90deg);
	-o-transform-origin: 0 0;
	transform: rotate(90deg);
	transform-origin: 0 0;
	font-family: '@굴림','@Gulim','@Helvetica','@Apple SD Gothic Neo','@Sans-serif';
}
*/
.x-panel-header-default-vertical .x-panel-header-title-default {
	font-family: '@굴림','@Gulim','@Helvetica','@Apple SD Gothic Neo','@Sans-serif';
}

.uniSearchSubPanel .x-header-text {
	color: #333333;
	font-weight: normal !important;
	padding: 1px 2px;
}

/**********************
* thumb image css for HUMAN
*/
.thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

.thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks .thumb {
    padding-bottom: 3px;
}

.thumb img{
    height: 95px;
    width: 80px;
}


.thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

/* Presentaion image  Css */
.thumb-landscape {
    background: #dddddd;
    padding: 1px;
    padding-bottom: 0;
}
.thumb-landscape img{
    height: 30px;
    width: 50px;
}
.thumb-landscape-wrap {
    float: left;
    margin: 1px;
    margin-right: 0;
    padding: 2px;
}

.thumb-landscape-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

.presentaion-item-over{
    border:1px solid #dddddd;
    background: #fefefe;
    padding: 1px;
}

.presentaion-item-selected{
    background: #eff5fb;
    border:1px solid #99bbe8;
    padding: 1px;
}

.presentaion-item-selected .thumb-landscape{
    background:transparent;
}

/* 인사  Css */
.photo-wrap{
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    width: 125px;
    height:147px;    
}
.photo-lable-group {
	height: 20px;
	font-family: '@Jeju Gothic','@Helvetica','@Apple SD Gothic Neo','@Sans-serif' !important;
	color:#002A5C;
}
.photo-lable-name {
	height: 20px;
	font-family: '@Jeju Gothic','@Helvetica','@Apple SD Gothic Neo','@Sans-serif' !important;
	color:#ffffff;
	font-size:14px !important;
	font-weight:bold;
}
.photo-lable-engname {
	height: 24px;
	font-family: '@Jeju Gothic','@Helvetica','@Apple SD Gothic Neo','@Sans-serif' !important;
	color:#ffffff;
}

.photo-background {
	background-image: url(background/businessCard.png) !important;	
}

.human-panel .x-grouptabcontainer {
	background-image: url(background/background2.png) !important;
    background-color: white;    
    border-top: 1px solid #d9d9d9 !important;    
    border-bottom: 1px solid #d9d9d9 !important;
    border-right: 1px solid #d9d9d9 !important;
}
.human-panel-form-background {
	 background:transparent;
}
.photo-search-icon {
	width:15px;
	height:15px;
	cursor: pointer;
}

.x-item-over{
    border:1px solid #dddddd;
    background: #fefefe;
    padding: 4px;
}

.x-item-selected{
    background: #eff5fb;
    border:1px solid #99bbe8;
    padding: 4px;
}

.x-item-selected .thumb{
    background:transparent;
}

.x-tool-hum-grid{    
	background-image: url(icons/listViewblue.png) !important;
}

.x-tool-over-hum-grid{    
	background-image: url(icons/listViewblue_over.png) !important;
}

.x-tool-hum-photo{    
	background-image: url(icons/imageViewblue.png) !important;
}

.x-tool-over-hum-photo{    
	background-image: url(icons/imageViewblue_over.png) !important;
}

.x-tool-hum-small{    
	background-image: url(icons/smallViewblue.png) !important;
}

.x-tool-over-hum-small{    
	background-image: url(icons/smallViewblue_over.png) !important;
}

.x-tool-hum-tree{    
	background-image: url(icons/treeView.png) !important;
}

/**********************
* thumb image css for HUMAN
*/



/****************************
*
* Excel Upload
*/
.x-grid-excel-hasError .x-grid-td {
	background: #fcc ;
	color:#888888;
}

/*
.x-grid-excel-hasError .x-grid-row-checker {
	background-position: -39px 0px
}
*/

/**********************
* Drag and Drop css 
*/
.data-source {
    cursor: pointer;
}

.data-over {
    background-color:#EFEFEF;
    cursor: pointer;
}
.data-selected {
    background-color: #DFE8F6;
    cursor: pointer;
}
/**********************
* Bus image css 
*/
.busItem {
	width: 150px;
	height: 150px;
	background: url("./background/bus1.png") no-repeat;
	
}
.busItemGreen {
	width: 150px;
	height: 150px;
	background: url("./background/busGreen.png") no-repeat;
	
}
.busItemYellow {
	width: 150px;
	height: 150px;
	background: url("./background/busYellow.png") no-repeat;
	
}
.busItemRed {
	width: 150px;
	height: 150px;
	background: url("./background/busRed.png") no-repeat;
	
}
.busItemGray {
	width: 150px;
	height: 150px;
	background: url("./background/buswhite.png") no-repeat;
	
}
.busItemMedium {
	width: 73px;
	height: 73px;
	background: url("./background/mbus.png") no-repeat;
	
}
.busItemMedium-gray {
	width: 73px;
	height: 73px;
	background: url("./background/mbussgray.png") no-repeat;
	
}
.busItemSmall {
	width: 73px;
	height: 73px;
	background: url("./background/mbus.png") no-repeat;
	
}
.busItemGraySmall {
	width: 73px;
	height: 73px;
	background: url("./background/mbusGray.png") no-repeat;
	
}
.busItemGraySmall2 {
	width: 73px;
	height: 73px;
	background: url("./background/mbusGray2.png") no-repeat;
	
}
.busItemGreenSmall {
	width: 73px;
	height: 73px;
	background: url("./background/mbusGreen.png") no-repeat;
	
}
.busItemRedSmall {
	width: 73px;
	height: 73px;
	background: url("./background/mbusRed.png") no-repeat;
	
}
.busItemSmall-wrap {
	float:left; 
	margin:4px; 
	border: 0px solid #eeeeee; 
	padding: 4px;
	width: 73px;
	height: 73px;
	text-align:center;
}
.busItemMedium2 {
	width: 65px;
	height: 65px;
	background: url("./background/mbus.png") no-repeat;
}
.busItemSmall-wrap2 {
	float:left; 
	border: 0px solid #eeeeee; 
	padding: 4px;
	height: 73px;
	text-align:center;
}
td.bus_blue-label {
    background-color: #d3e1f1;
    height: 24px;
    text-align: center;
    border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
td.bus_gray-label {
    background-color: #eeeeee;
    height: 24px;
    text-align: center;
    border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
td.bus_white-label {
    background-color: #ffffff;
    height: 24px;
    text-align: center;
    border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.busData {
	width:163px; 
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding: 4px;
}
.busData2 {
	float:left;
	width:73px; 
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding: 4px;
	overflow-x:hidden;
}
.bus-plate-number {
	float:left; 
	margin:3px;
	line-height:30px;
	width:80px;
	text-align:center; 
	border: 1px solid #999999; 
	padding: 4px;
}
.bus-driver-photo {
	float:left; 
	margin:3px; 
	border: 1px solid #eeeeee; 
	padding: 4px;
	text-align:center;
}
.bus-border {
    border: 1px solid #000000 !important; 
}
td.bus-fixed {
	overflow: hidden;
}
tr.bus-fixednotinservice {
    color: red !important; 
}
tr.bus-fixedothervehicle {
    color: #bbbbbb !important; 
}
.noselect {
    -webkit-touch-callout: none !important; 
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.dirverPhotoGreen img {border: 2px solid #70ad47;margin: 0;padding: 0;vertical-align: middle;}
.dirverPhotoBlue img {border: 2px solid #5b9bd5;margin: 0;padding: 0;vertical-align: middle;}
.dirverPhotoGray img {border: 1px solid #cccccc;margin: 0;padding: 0;vertical-align: middle;}

.essRow {
    background-color: #d3e1f1;
}
.optRow {
    background-color: #ffffff;
}
.listItem {
    margin: 2px;
    padding: 2px;
}
.listItem-div-blue {
    background-color: #d3e1f1;
}
.listItem-div-orange {
    background-color: #FBE5D6;
}

/* Bus Board */
td.board-route-num {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:48px;color:#000;
	background-color: #99bbe8;
	line-height:70px;
	weight:bold;
	text-align:center;
}
td.board-list {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:34px;color:#000;
	line-height:50px;
	font-weight:bold;
	text-align:center;
}
td.board-gtt-route-num {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#000;
	background-color: #99bbe8;
	line-height:46px;
	text-align:center;
}
td.board-gtt-list {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#00f;
	line-height:46px;
	text-align:center;
}
td.board-gtt-listCASE1 {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#000;
	line-height:46px;
	text-align:center;
}
td.board-gtt-listCASE2 {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#00f;
	line-height:46px;
	text-align:center;
}
td.board-gtt-listCASE3 {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#f00;
	line-height:46px;
	text-align:center;
}
td.board-gtt-listCASE4 {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#000;
	line-height:46px;
	text-align:center;
}
.board-notice-list {
	font-family:'고딕',Gothic,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:30px;color:#000;
	line-height:46px;
}
td.suffixTplBg {
	background-image: url("background/text-bg.gif");
}


/**
	프로그램별 소계/총계 관련 
	쿼리로 강제로 만들어내는 로우에 적용
	x-change-cell_white 기본 default(white)
	x-change-cell_light 소계
	x-change-cell_normal 합계
	x-change-cell_dark 총계
	x-change-cell_red 삭제, 빨간색  (agj250skr 관리항목별전표조회 -> 수정삭제이력표시 조회)
	x-change-celltext_darkred 세목  (일계표, 시산표, 예산실적조회, 경비명세서 등 세목)
**/

.x-change-cell_white { 
    background-color: white;  
}
.x-change-cell_light { 
    background-color: #F5ECCE;  
    color: blue;
}
.x-change-cell_medium_light {
	background-color: #F3E2A9;	
	color: blue;
}
.x-change-cell_normal {
	background-color: #F5DA81;	
	color: blue;
}
.x-change-cell_medium_dark {
	background-color: #F7D358;
	color: blue;
}
.x-change-cell_dark {
	background-color: #FACC2E;	 
	color: blue;
}

.x-change-cell_red {	
	background-color: #F15F5F;
}

.x-close-cell_dark {
	background-color: #CFCFCF;	 
}
/**
	cell text color-blue & red
**/
.x-change-celltext_blue {
	color: blue; 	
}
.x-change-celltext_red {
	color: red; 	
}
.x-change-celltext_darkred {
	color: #D36C6C;
}
.cursor-pointer {
	cursor:pointer !important;
}
/**
	cell text + background color
**/
.x-change-cell_Background_light_Text_blue {
	color: blue; 	
	background-color:#F4F1ED;
}
.x-change-cell_Background_normal_Text_blue {
	color: blue; 	
	background-color:#EAE7E4;
}
.x-change-cell_Background_dark_Text_blue {
	color: blue; 	
	background-color:#E4F1ED;
}
/**
	component text style
**/
.component-text_first {
	color: blue; 
    font: normal 12px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
}
.component-text_first:hover {
	color: blue; 
    cursor: pointer;
    font: normal 12px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
    text-decoration: underline;
}
.component-text_second {
	color: blue; 
	font: normal 12px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
}
.component-text_green {
	color: green; 
	font: normal 12px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
}
.component-text_Remark1_bold {
    color: #516daf; 
    font: normal 12px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
    font-weight: bold;
}
.blank-icon {
	background-image: none !important;
	width:0px !important;
}

.grouptab-first-title {
   padding-left: 18px;
}


.component-text_title_first {
    color: black; 
    font: normal 30px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
}

.component-text_title_second {
    color: black; 
    font: normal 13px '굴림',Gulim,tahoma, arial, verdana, sans-serif;
    
    margin-top: 20px;
}
/**
	ess style (row)
**/
.x-change-cell_Background_essRow {	
	background-color:#FAF4C0;
	
}
.x-change-cell_Background_optRow {
    background-color: #ffffff;
}

.x-change-cell_holyday_lightblue {
	background-color: #A9BCF5;	 
}

.x-change-cell_holyday_lightred {
	background-color: #F5A9A9;	 
}

.consulting-portlet {
	margin:0px;
	padding:0px;
}
.grid-select {
	border: 2px solid #7FACE5;
}
