@CHARSET "UTF-8";

/*
GroupTabPanel
*/
.x-grouptabpanel {
    border: solid 7px #4E78B1;
}

.x-grouptabpanel .x-grouptab-first .x-grid-cell-inner  {
    line-height: 16px;
}

.x-grouptabbar .x-grouptab {
    line-height: 14px;
}

.x-grouptabbar .x-grouptab-first {
    padding-top: 4px;
}

.x-grouptabbar .x-active-group .x-grouptab {
	background-image: url(./background/background2.png) !important;
}