<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">


<sqlMap namespace="${p.serviceClassName}">

	<select id="${p.serviceClassName}.dummy" parameterClass="Map" resultClass="rMap">
	    
		select a from dual
	</select>
	
	#foreach( $method in ${prg.methods} )

	<select id="${p.serviceClassName}.${method.name}" parameterClass="Map" resultClass="rMap">
		/* ProgramID=${p.serviceClassName}.${method.name} */
		select a from dual
	</select>
	#end
	
</sqlMap>