<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!--
<sqlMapConfig>

	<typeAlias alias="hashMap" type="java.util.HashMap"/>
	<typeAlias alias="gMap" type="foren.framework.dao.GMap" />
	<typeAlias alias="rMap" type="java.util.HashMap" />
	<typeAlias alias="comboItem" type="foren.unilite.modules.com.combo.ComboItemModel" />
	<typeAlias alias="OracleDateHandler" type="foren.framework.dao.DateHandler"/>
	<typeHandler callback="OracleDateHandler" jdbcType="TIMESTAMP" javaType="date"/>

	<sqlMap resource="foren/conf/sqlmap/dummy.xml" />		 
</sqlMapConfig>	-->

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="localCacheScope" value="STATEMENT" />			<!-- session:기본값 -->
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="logImpl" value="SLF4J"/>	
		<setting name="logPrefix" value="MYBATIS."/>
	</settings>
	<typeAliases>
		<typeAlias alias="hashMap" type="java.util.HashMap"/>
		<typeAlias alias="gMap" type="foren.framework.dao.GMap" />
		<typeAlias alias="rMap" type="java.util.HashMap" />
		<typeAlias alias="genericTreeDataMap" type="foren.framework.lib.tree.GenericTreeDataMap" />
		<typeAlias alias="fileUploadMode" type="foren.framework.lib.fileupload.FileUploadModel"/>	
		<typeAlias alias="TimestampHandler" type="foren.framework.dao.TimestampHandler"/>
		<typeAlias alias="comboItem" type="foren.unilite.com.tags.ComboItemModel" />
		<typeAlias alias="ExtJsStateProviderModel" type="foren.unilite.modules.com.ext.ExtJsStateProviderModel" />	
		<typeAlias alias="loginVO" type="foren.framework.model.LoginVO"/>
		<!--typeAlias alias="ExtJsStateProviderModel" type="foren.unilite.com.tags.ExtJsStateProviderModel" /-->	
		<!--
		<typeAlias alias="Bor100ukrvModel" type="foren.unilite.modules.base.bor.Bor100ukrvModel"/>
		<typeAlias alias="Cmd100ukrvModel" type="foren.unilite.modules.crm.cmd.Cmd100ukrvModel"/>	
		<typeAlias alias="Hum100ukrModel" type="foren.unilite.modules.human.hum.Hum100ukrModel"/>
		<typeAlias alias="Hum710ukrModel" type="foren.unilite.modules.human.hum.Hum710ukrModel"/>
		<typeAlias alias="Hum790ukrModel" type="foren.unilite.modules.human.hum.Hum790ukrModel"/>
		<typeAlias alias="Hum800ukrModel" type="foren.unilite.modules.human.hum.Hum800ukrModel"/>
		-->
		<!-- 이시스 추가 -->	
		<!--
		<typeAlias alias="Hbs020ukrModel" type="foren.unilite.modules.human.hbs.Hbs020ukrModel"/>
		<typeAlias alias="Hpa330ukrModel" type="foren.unilite.modules.human.hpa.Hpa330ukrModel"/>
		<typeAlias alias="Hpa990ukrModel" type="foren.unilite.modules.human.hpa.Hpa990ukrModel"/>
		<typeAlias alias="Hpb100ukrModel" type="foren.unilite.modules.human.hpb.Hpb100ukrModel"/>
		<typeAlias alias="Hrt110ukrModel" type="foren.unilite.modules.human.hrt.Hrt110ukrModel"/>
		<typeAlias alias="Hrt501ukrModel" type="foren.unilite.modules.human.hrt.Hrt501ukrModel"/>
		<typeAlias alias="Hpb200ukrModel" type="foren.unilite.modules.human.hpb.Hpb200ukrModel"/>
		<typeAlias alias="Hpb300ukrModel" type="foren.unilite.modules.human.hpb.Hpb300ukrModel"/>
		<typeAlias alias="Hrt501ukrModel" type="foren.unilite.modules.human.hrt.Hrt501ukrModel"/>
		<typeAlias alias="loginVO" type="foren.framework.model.LoginVO"/>
		-->
		<!-- 이시스 추가 끝 -->
		<!--
		<typeAlias alias="NboxBoardModel" type="foren.unilite.modules.nbox.board.model.NboxBoardModel"/>
		<typeAlias alias="NboxBoardCommentModel" type="foren.unilite.modules.nbox.board.model.NboxBoardCommentModel"/>
 		-->
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="TimestampHandler" jdbcType="TIMESTAMP" javaType="date"/>
	</typeHandlers>
	
	<plugins>
		<plugin interceptor="foren.framework.mybatis.MybatisLogInterceptor"/>
	</plugins>

	<!--<mappers>
  		<mapper resource="foren/conf/sqlmap/dummy.xml" />
 	</mappers>-->
</configuration>
